
/* {
    font-family: Poppins-Medium !important;
} */

.fa-facebook-square{
    background: whitesmoke;
    color: #3b5998;
    margin:5px !important;
    border-radius:5px;
    padding: 1px;
}
.fa-google-plus{
    background: #FF0000;
    /* color: #db3236; */
    margin:5px !important;
    border-radius:5px;
    padding: 1px;
}
.fb-icon{
    background-color: #3b5998;
    color: aliceblue;
    font-weight: 600;
}

.google-icon{
    background-color: #FF0000;
    color: aliceblue;
    font-weight: 600;
}

.main-div{
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
      
}
.main-heading{
    font-weight: 900;
    font-family:Poppins-Bold !important;

}
.inctrls{
    border-radius: 25px;
    border: 1px solid #191919;
}
.lg-icon{
    background: #800080;
    color: #ffffff;
    font-weight: 600;

}

.login-btn{
    background: #800080;
    color: #ffffff;
    font-weight: 600;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;  
}

.forget-cls{
    color: #800080; 
}
.font-size-cls{
    font-size: 12px;
    font-family:Poppins-SemiBold !important;
}
.forget-cls1{
    font-weight: 900;
    color: #191919;
}

.signupbtn{
    background: #03A605	;
    color: #ffffff;
    font-weight: 900;
    font-family:Poppins-SemiBold;
    padding: 10px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
}

.invalid-feedback{
    background-color: #ea260d;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-family:Poppins-Medium;

}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent
 .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{

    background-color: #A603A4;
    color: #191919;
}

@media (max-width: 575.98px) {

    .main-div{
        /* padding-left: 50px; */
    }

 }

 @media (max-width: 400px) {

    .main-div{
        /* padding-left: 0px; */
    }

 }
