<!-- <div class="" >
        <button class="btn button cross-btn" [mat-dialog-close]="true" >
            x
        </button>
    </div>
   -->


<!-- <mat-card class="example-card"  style="box-shadow: none; border-radius:30px;">
    
  
  <mat-card-header>
        
      <mat-card-title>To Continue ,login to GoodTimes</mat-card-title>
         </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card> -->

  <!-- <app-signup [openSignUpPageInput]= "showDiv"  > </app-signup> -->

<div class="container login-popuppage  modal-box " id="loginpopUpId"  >
  <div class="row modal-popup ">
  </div>
  <div class="container login-tab">
    <div fxLayout="row" fxLayoutAlign="space-between end" style="position: relative">
      <p class="main-heading">To Continue, Login into Goodtimes</p>
      <span style="position:absolute; top:-25px;right:-50px;">
        <button [mat-dialog-close] style="border: none;background:transparent">
          <i class="fa fa-times-circle-o" style="color: #DA72D5" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <div class="main-div">
      <div fxLayout="row" fxLayoutAlign.xs="center none"  fxLayout.xs="column"   fxLayoutAlign="center center" fxLayoutGap="10px;">
        <mat-chip-list aria-label="social selection">
          <mat-chip class="fb-icon" color="primary"  fxFlex.gt-sm="100%"  fxLayout="row" fxLayoutGap="10px;"  >
            <!-- <i class="fa fa-facebook-square" aria-hidden="true"></i> -->
            <!-- <img src="../../../../assets/images/fb.png" alt="" style="width: 20px;margin:5px;">  -->
            <img src="../../../../assets/images/fb1.png" alt="" style="width:18px;margin-right:5px !important;">
            <span style="margin-left:5px;"> Facebook</span>

          </mat-chip>
          <mat-chip color="accent" class="google-icon"    fxFlex.gt-sm="100%"  >
            <!-- <img src="../../../../assets/images/google+.png" alt="" style="width: 28px;margin:5px;height:auto%"> -->
            <img src="assets/images/google+.png" alt="" style="width: 28px;margin:5px;height:auto">

            <!-- <i class="fa fa-google-plus" aria-hidden="true"></i> -->
            Google
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="col-md-5">
        <hr style="background-color:#4E0250">

      </div>
      <span style="color: #4E0250">Or</span>
      <div class="col-md-5">

        <hr style="background-color:#4E0250">
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginFormData()">


      <div class="form-group addcolor">
      
        <input type="text" formControlName="email"  class="form-control  inctrls"
            placeholder="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <h5 style="text-align: start;color:#04012847">Oops!</h5>
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
      
      </div>


     <div class="form-group addcolor">
        <input type="password" formControlName="password"  class="form-control inctrls"
          placeholder="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <h5 style="text-align: start;color:#04012847">Oops!</h5>            
            <div *ngIf="f.password.errors.required">Password is required</div>
            <!-- <div *ngIf="f.loginpassword.errors.minlength">Password must be at least 6 characters</div> -->
        </div>

     </div>
          <!-- <div class="form-group addcolor">
        <input type="email" formControlName="loginemail" name="loginemail" class="form-control  inctrls"
          id="exampleFormControlInput1" required placeholder="email">
        <span *ngIf="!loginForm.get('loginemail').valid && loginForm.get('loginemail').touched" class="">
          Enter proper Email !!!
        </span>
        <div>
        </div>
      </div> -->
          <!-- <div class="form-group addcolor">
        <input type="password" formControlName="loginpassword" name="loginpassword" class="form-control inctrls"
          id="exampleFormControlInput2" required placeholder="password">

          <span *ngIf="!loginForm.get('loginpassword').valid && loginForm.get('loginpassword').touched" class="">
            Please Enter password  !!!
          </span>
      </div> -->
          <div class="loginbtn">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center none"  fxLayoutAlign="space-between end">
              <div class="" fxFlex>
                <mat-radio-group name="remmberme"  formControlName="RememberMe" >
                  <mat-radio-button value="remmberme">Remember me</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class=""   style="line-height: 3" fxLayoutAlign.xs="center none" >
         
                  <button   class="login-btn btn badge badge-pill">
                      <span class="">log In</span>
                    </button>
             
                <!-- <button type="submit" [disabled]="!loginForm.valid" class="login-btn btn badge badge-pill">
                  <span class="">log In</span>
                </button> -->
         
              </div>
            </div>
          </div>
    </form>


    <div class="row">
      <div class="text-center col-sm-12  mb-2 mt-2 forget-cls ">
        <h6 class="font-size-cls">Forgot your Password ?</h6>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-sm-12 mb-2 forget-cls1">
        <h6 class="font-size-cls">Don't you have Account ?</h6>
      </div>
    </div>


    <div class="main-div">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px;">
        <mat-chip-list aria-label="social selection">

          <button class="signupbtn btn badge badge-pill" (click)="opensignUppage()">
              SignUp with Goodtimes    
          </button>

          <!-- <mat-chip class="signupbtn" color="primary" fxLayout="row" fxLayoutGap="10px;">
            SignUp with Goodtimes
          </mat-chip> -->
        
        </mat-chip-list>
      </div>
    </div>



    <!-- <div class="row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-success btnradius  signbtncls" (click)="openRegistration('registration')">
          SignUp </button>
      </div>
    </div> -->



  </div>


  <!-- login-tab -->
  <!-- registration tab -->
  <!-- <div class="container login-tab" >
                <form>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control input-field" placeholder="* First name"
                                    [(ngModel)]="formData.firstName" name="firstName">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control input-field" placeholder="* Last name"
                                    [(ngModel)]="formData.lastName" name="lastName">
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="email" class="form-control input-field" aria-describedby="emailHelp"
                                    placeholder="* Email" [(ngModel)]="formData.email" name="email">
                            </div>
                            <div class="form-group col-lg-12">
                                <input myNumberOnly type="text" class="form-control input-field" maxlength="10"
                                    minlength="10" aria-describedby="emailHelp" placeholder="* Mobile Number"
                                    [(ngModel)]="formData.phone" name="phone">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="password" class="form-control input-field" placeholder="* Password"
                                    [(ngModel)]="formData.password" name="password">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control input-field refferral"
                                    placeholder="Referral Code" [(ngModel)]="formData.referalCode"
                                    name="referalCode">
                            </div>
                        </div>
                        <div class="row mt-3">
                    <div class="col-lg-6">
                        <input type="text" name="text" class="form-control input-field"
                            placeholder="Enter Captcha" [(ngModel)]="formData.captchaValue">
                        <label *ngIf="showCaptchaer" class="text-danger" style="font-size:14px;">Incorrect
                            Captcha,
                            please try again</label>
                    </div>
                    <div class="col-lg-6">
                        <span id="captcha">{{captchaTExt}}</span> &nbsp; <img
                            src="assets/images/refresh.png" (click)="refreshCaptcha()" class="captcha-img">
                    </div>
                </div>
                <div class="custom-control custom-checkbox terms-checkbox mt-3">
                    <input type="checkbox" class="custom-control-input terms-input" id="customCheck1"
                        checked>
                    <label class="custom-control-label terms-label" for="customCheck1">Accept Terms and
                        Conditions</label>
                </div>
                <button class="btn  submit-button mt-5 mb-3 " (click)="openOtpScreen()">Submit</button>
                <div class="col-lg-12 mt-3">
                    <h3 class="text-center">OR</h3>
                </div>

          
                <div class="d-flex justify-content-around">
                        <div class="p-2">
                            <img src="assets/images/facebook.png">
                        </div>
                        <div class="p-2">
                            <img src="assets/images/google-plus.png">
                        </div>
                    </div>


            </form>
        </div>  -->
  <!-- registration tab -->
</div>