
<div class="container mb-5">
    <div class="text-center font-weight-bold textcolor">
        <p>Inbox</p>
    </div>
  
    <div class="container mt-5 fontfamily-one">
        <div class="row justify-content-center">
          <div class="col-4">
              <span>
                  Hello, Goodtimes 
              </span>
              <img src="assets/images/edit.png" style="width:20px" >
            </div>
        </div>
      </div>
  
  
  
  <div class="container1">
  <!-- <div class="left-div left-text">
    
  
      <img src="../assets/images/b.jpeg" alt="  "  style="width:340px;height:200px"> 
  
  
  </div> -->
  <!-- <div class="right-div right-text">
  
  
      <div class="col-sm-12 ">
          <div class=" row">
                  <div class="col-sm-10">
                     <h4 class="font-weight-bold"> Hello, One</h4> 
                  </div>
          </div>
         
          <div class="row">
                  <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">show Watched:</label>
                  <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="" value="23">
                  </div>
          </div>
  
          <div class=" row">
                  <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">location:</label>
                  <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="" value="hyderabad">
                  </div>
          </div>
  
          <div class=" row">
                  <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">Favouriate Events:</label>
                  <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="" value="Walk in park">
                  </div>
          </div>
  
          <div class=" row">
              <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">
                
              Credit Card For payment:
              </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="" value="123131243">
              </div>
      </div>
  
          <div class=" row">
                  <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">Goodtimes Points:</label>
                  <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="" value="2380">
                  </div>
          </div>
   </div>
  
  
  </div>
   -->
  

  
  
  <div class="container">
  
    <div class="tab">
      <button class="tablinks" 
      (click)="openCity($event, 'London')" id="defaultOpen">London</button> 
      <button class="tablinks" (click)="openCity($event, 'Paris')">Paris</button>
      <button class="tablinks" (click)="openCity($event, 'Tokyo')">Tokyo</button>
    </div>
    
    <div id="London" class="tabcontent" *ngIf="showlondon" >
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>
    
    <div id="Paris" class="tabcontent"  *ngIf="showparis" >
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p> 
    </div>
    
    <div id="Tokyo" class="tabcontent"  *ngIf="showtokyo">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
  
    
  </div>
  
  
  
  
  
  
  </div>