<div class="container">
  <div class="font-heading-cls" fxLayout="row" fxLayoutAlign="center center">
    <h5> Items That You Have Purchased. </h5>
  </div>



  <div class="container mb-5"    fxLayout="row" fxLayout.xs="column" fxLayout.sm="row"
    style="display: flex; justify-content:space-between; margin-bottom: 10rem!important;">

    <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
      <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
      <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
   
      <div class="card-body">
        <div class="mb-3 " fxLayout="row" fxLayoutAlign="start start">
          <p>Vans Triple Queen</p>

        </div>

        <div class="card-date-cls mb-2">
          <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>18 Dec 2018</span>
          </div>
          <div>
            <!-- <img src="../../../../assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;"> -->
            <img src="assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;">
       
            <span>2a,2b,2c</span>
          </div>
        </div>

        <div class="card-date-cls mb-2 " style="margin-left: 10px;">
          <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>8:00pm - 10:00pm</span>
          </div>
          <div>
            <!-- <img src="../../../../assets/images/location.png" alt="" style="margin-top: -8px;width:11%;"> -->
            <img src="assets/images/location.png" alt="" style="margin-top: -8px;width:11%;">
        
            <span> Cine plus,Hitech City, Hyderabad</span>
          </div>
        </div>

        <div class="seat-btn-adjust-cls mb-2">
          <span>
            <button class="btn  back-btn-cls">
              Resend Email
            </button>
          </span>
          <span>
            <span class="selected-seats-cls">
            </span>
            <button class="next-btn-cls" type="button">Get QR Code</button>
          </span>
        </div>


      </div>
    </div>


    <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
      <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
      <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
  
      <div class="card-body">
        <div class="mb-3 " fxLayout="row" fxLayoutAlign="start start">
          <p>Vans Triple Queen</p>

        </div>

        <div class="card-date-cls mb-2">
          <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>18 Dec 2018</span>
          </div>
          <div>
            <!-- <img src="../../../../assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;"> -->
            <img src="assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;">
       
            <span>2a,2b,2c</span>
          </div>
        </div>

        <div class="card-date-cls mb-2 " style="margin-left: 10px;">
          <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>8:00pm - 10:00pm</span>
          </div>
          <div>
            <!-- <img src="../../../../assets/images/location.png" alt="" style="margin-top: -8px;width:11%;"> -->
            <img src="assets/images/location.png" alt="" style="margin-top: -8px;width:11%;">
         
            <span> Cine plus,Hitech City, Hyderabad</span>
          </div>
        </div>

        <div class="seat-btn-adjust-cls mb-2">
          <span>
            <button class="btn  back-btn-cls">
              Resend Email
            </button>
          </span>
          <span>
            <span class="selected-seats-cls">
            </span>
            <button class="next-btn-cls" type="button">Get QR Code</button>
          </span>
        </div>


      </div>
    </div>


    <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
      <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
      <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
   
      <div class="card-body">
        <div class="mb-3 " fxLayout="row" fxLayoutAlign="start start">
          <p>Vans Triple Queen</p>

        </div>

        <div class="card-date-cls mb-2">
          <div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>18 Dec 2018</span>
          </div>
          <div>
            <img src="assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;">
            <!-- <img src="../../../../assets/images/seat(2a,2b,2c).png" alt="" style="margin-top: -8px;"> -->
        
            <span>2a,2b,2c</span>
          </div>
        </div>

        <div class="card-date-cls mb-2 " style="margin-left: 10px;">
          <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>8:00pm - 10:00pm</span>
          </div>
          <div>
            <!-- <img src="../../../../assets/images/location.png" alt="" style="margin-top: -8px;width:11%;"> -->
            <img src="assets/images/location.png" alt="" style="margin-top: -8px;width:11%;">
      
            <span> Cine plus,Hitech City, Hyderabad</span>
          </div>
        </div>

        <div class="seat-btn-adjust-cls mb-2">
          <span>
            <button class="btn  back-btn-cls">
              Resend Email
            </button>
          </span>
          <span>
            <span class="selected-seats-cls">
            </span>
            <button class="next-btn-cls" type="button">Get QR Code</button>
          </span>
        </div>


      </div>
    </div>
  </div>


  <div class="font-heading-cls" fxLayout="row" fxLayoutAlign="center center">
      <h5> Recommended Events. </h5>
    </div>



    <div class="container mb-5"    fxLayout="row" fxLayout.xs="column" fxLayout.sm="row"
    style="display: flex; justify-content:space-between; margin-bottom: 10rem!important;">

    <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
      <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
      <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
    
      <div class="card-body">
        <div class="" fxLayout="row" fxLayoutAlign="start start">
          <p>Assian Indeeds</p>

        </div>

        <div class="Description-cls" fxLayout="row" fxLayoutAlign="start start">
            <p>Description of the movie somthing good or bad well r not</p>
  
          </div>
  
        <div class="card-star-cls mb-2">
          <div>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>4.5/5</span>
          </div>
        </div>

        <div class="card-time-cls mb-2 " style="margin-left: 10px;">
          <div>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>8:00pm - 10:00pm</span>
          </div>
        </div>

        <div class="seat-btn-adjust-cls mb-2">
          <span>
            <button class="btn  detail-btn-cls">
              Details
            </button>
          </span>
          <span>
            <span class="selected-seats-buynow-cls">
            </span>
            <button class="buynow-btn-cls" type="button">Buy Now</button>
          </span>
        </div>


      </div>
    </div>


    <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
        <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
        <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
     
        <div class="card-body">
          <div class="" fxLayout="row" fxLayoutAlign="start start">
            <p>Assian Indeeds</p>
  
          </div>
  
          <div class="Description-cls" fxLayout="row" fxLayoutAlign="start start">
              <p>Description of the movie somthing good or bad well r not</p>
    
            </div>
    
          <div class="card-star-cls mb-2">
            <div>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <span>4.5/5</span>
            </div>
          </div>
  
          <div class="card-time-cls mb-2 " style="margin-left: 10px;">
            <div>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>8:00pm - 10:00pm</span>
            </div>
          </div>
  
          <div class="seat-btn-adjust-cls mb-2">
            <span>
              <button class="btn  detail-btn-cls">
                Details
              </button>
            </span>
            <span>
              <span class="selected-seats-buynow-cls">
              </span>
              <button class="buynow-btn-cls" type="button">Buy Now</button>
            </span>
          </div>
  
  
        </div>
      </div>
  

      <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
          <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
          <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">
     
          <div class="card-body">
            <div class="" fxLayout="row" fxLayoutAlign="start start">
              <p>Assian Indeeds</p>
    
            </div>
    
            <div class="Description-cls" fxLayout="row" fxLayoutAlign="start start">
                <p>Description of the movie somthing good or bad well r not</p>
      
              </div>
      
            <div class="card-star-cls mb-2">
              <div>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <span>4.5/5</span>
              </div>
            </div>
    
            <div class="card-time-cls mb-2 " style="margin-left: 10px;">
              <div>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>8:00pm - 10:00pm</span>
              </div>
            </div>
    
            <div class="seat-btn-adjust-cls mb-2">
              <span>
                <button class="btn  detail-btn-cls">
                  Details
                </button>
              </span>
              <span>
                <span class="selected-seats-buynow-cls">
                </span>
                <button class="buynow-btn-cls" type="button">Buy Now</button>
              </span>
            </div>
    
    
          </div>
        </div>
    
        <div class="card card-inverse mb-2" fxFlex.sm="50vw" style="max-width: 250px;">
            <!-- <img class="card-img-top" src="../../../../assets/images/1.png" alt="Photo of sunset"> -->
            <img class="card-img-top" src="assets/images/1.png" alt="Photo of sunset">

            <div class="card-body">
              <div class="" fxLayout="row" fxLayoutAlign="start start">
                <p>Assian Indeeds</p>
      
              </div>
      
              <div class="Description-cls" fxLayout="row" fxLayoutAlign="start start">
                  <p>Description of the movie somthing good or bad well r not</p>
        
                </div>
        
              <div class="card-star-cls mb-2">
                <div>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span>4.5/5</span>
                </div>
              </div>
      
              <div class="card-time-cls mb-2 " style="margin-left: 10px;">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span>8:00pm - 10:00pm</span>
                </div>
              </div>
      
              <div class="seat-btn-adjust-cls mb-2">
                <span>
                  <button class="btn  detail-btn-cls">
                    Details
                  </button>
                </span>
                <span>
                  <span class="selected-seats-buynow-cls">
                  </span>
                  <button class="buynow-btn-cls" type="button">Buy Now</button>
                </span>
              </div>
      
      
            </div>
          </div>
        

  </div>





</div>


