.font-heading-cls{
    font-family:Poppins-SemiBold;
    color: #800080;
}


.card-body{
    background-color: #040128;
    height: 80% !important;
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em;
    color: #ffffff;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family:Poppins-Medium;

}

.Description-cls{
    font-size: 13px;
}

.card-img-top{
    height: 80% !important;
    border-top-right-radius: .6em;
    border-top-left-radius: .6em;

}

.card-date-cls{
   display: flex; 
   justify-content:space-around;
   font-size: 12px;
   font-family:Poppins-Medium;


}

.card-time-cls{
    display: flex; 
    justify-content:flex-start;
    font-size: 12px;
    font-family:Poppins-Medium;
 
 
 }
 


.seat-btn-adjust-cls{
    display:flex;
    justify-content: space-between;
}


.back-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    border-radius: 20px;
    border: 1px solid #A603A4;
    color: #A603A4;
    background-color: #ffffff;
    font-size: 10px;
    font-family: Poppins-Medium;
}

.detail-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    border-radius: 20px;
    border: 1px solid #A603A4;
    color: #ffffff;
    background-color:transparent;
    font-size: 10px;
    font-family: Poppins-Medium;
}


.next-btn-cls{
    margin: 10px;
    margin-top: 0px;
    border-radius: 20px;
    border: none;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: #ffffff;
    background-color: #03A605;
    font-size: 12px;
    font-family: Poppins-Medium;
}

.buynow-btn-cls{
    margin: 10px;
    margin-top: 0px;
    border-radius: 20px;
    border: none;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: #ffffff;
    background-color: #A603A4;
    font-size: 12px;
    font-family: Poppins-Medium;
}

.card-star-cls{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}