@font-face{
    font-family:Poppins-Bold;
    /* src:url(/assets/fonts/Poppins-Bold.ttf); */
    src:url(../fonts/Poppins-Bold.ttf);

}


@font-face{
    font-family:Poppins-Light;
    /* src:url(/assets/fonts/Poppins-Light.ttf); */
    src:url(../fonts/Poppins-Light.ttf);

}


@font-face{
    font-family:Poppins-Medium;
    /* src:url(/assets/fonts/Poppins-Medium.ttf); */
    src:url(../fonts/Poppins-Medium.ttf);

}


@font-face{
    font-family:Poppins-SemiBold;
    src:url(../fonts/Poppins-SemiBold.ttf);
    /* src:url(/assets/fonts/Poppins-SemiBold.ttf); */
}

@font-face{
    font-family:Poppins-Regular;
    /* src:url(/assets/fonts/Poppins-Regular.ttf); */
    src:url(../fonts/Poppins-Regular.ttf);

}
