.img-logo{
    width: 35% !important; 
}
.fontweight{
    font-weight: 900;
    font-family:Poppins-Bold !important;

}

.navbar-one{
    color: #191919;
}

a:hover { 
    /* background-color: #4E0250; */
    color: #A603A4;
  }
a:focus{
    color: #A603A4 !important;
}

/* .login-cls :focus{
    background: #A603A4 !important;
}

.login-cls :active{
    background: #A603A4 !important;
}

.login-cls a:focus{
    color: #A603A4 !important;
}
.signupcls :focus{
    color: #A603A4 !important;
} */

.mat-menu-content{
    background-color: #FFA9E7 !important;
    color: #ffffff;
    font-family:Poppins-SemiBold;
}
    .dropdrowncls{
        /* width: 200px; */
        padding-right: 20px;
        width:225px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: right !important;
      }

.mat-menu-panel{
    background-color: #FFA9E7 !important;

}

.navbar-light .navbar-nav .nav-link{
    color: #191919;
    /* font-family:Poppins-Regular; */
    font-family:Poppins-SemiBold;


}