<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
      <a class="navbar-brand" href="#">Home</a>
      <span class="ml-auto"> </span>
      <button class="navbar-toggler" type="button"
      (click)="toggleNavbar()" 
      data-toggle="collapse"
       data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" 
      [ngClass]="{ 'show': navbarOpen }"
      id="navbarSupportedContent">
          <ul class="navbar-nav text-right">
              <li class="nav-item active">
                  <a class="nav-link" routerLink='/auth/login'>LogIn</a>
 
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink='/auth/signup'>SignUp</a>
              </li>
          </ul>
      </div>
  </nav>   -->



  
<nav class="navbar navbar-expand-lg navbar-light   nav-one">
  <a class="addcolor text-capitalize navbar-brand" style="width:50%" routerLink="/">
    <img src="assets/images/text-logo.png" alt="" class="img-logo">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0"> -->


    <ul class="navbar-nav ml-auto navbar-one">



      <a class="nav-link text-capitalize addcolor " routerLink="/onsale/onsale"  style="margin:10px;">On Sale</a>

      <a class="nav-link  text-capitalize addcolor " routerLink="/comingsoon/comingsoon" style="margin:10px;" >Coming Soon</a>

      <!-- <a class="nav-link" 
      routerLink='/auth/login'
      *ngIf="showLoginButton"> -->

      <!-- <a class="nav-link" 
      (click)="openLoginPage()"
      *ngIf="showLoginButton">
        <span class="badge  badge-pill badge-light text-capitalize bdrcolor fontweight addcolor"
        >Log In</span>
      </a> -->


      <!-- <a class="nav-link" 
      routerLink='/auth/signup'
      *ngIf="showLoginButton"
      (click)="openDialog()"
      > -->

      <!-- <a class="nav-link" *ngIf="showLoginButton" (click)="openModal()">
        <span class="badge badge-pill badge-light text-capitalize bdrcolor  fontweight addcolor">Sign Up</span>
      </a> -->


      <!-- <mat-chip-list aria-label="Fish selection" *ngIf="showlogs" > -->


      <mat-chip-list aria-label="Fish selection" *ngIf="!showProfile" >
        <mat-chip class="login-cls"  fxLayout="row" fxLayoutGap="10px;" style="margin:15px;">
          <a class="nav-link" (click)="openLoginPage()" *ngIf="showLoginButton" style="line-height: 2.5">
            <span class="text-capitalize bdrcolor  logincls  addcolor">Log In</span>
          </a>
        </mat-chip>
        <mat-chip color="" class="sign-cls" style="margin:15px;">
          <a class="nav-link" *ngIf="showLoginButton" (click)="openModal()" style="line-height: 2.5">
            <span class="text-capitalize bdrcolor signupcls  addcolor">Sign Up</span>
          </a>
        </mat-chip>
      </mat-chip-list>


      <!-- <a href="" *ngIf="showProfile">
                  <span class="badge badge-pill badge-light text-capitalize bdrcolor  fontweight addcolor">Profile</span>
              </a> -->



      <div class="dropdown nav-link" *ngIf="showProfile ">

        <div  fxLayout="row"  fxLayoutGap="32px" >
          <span matBadge = "3" matBadgeColor="warn"   matBadgePosition="before" >
            <img src="assets/images/cart.png" style="width: 50px;">
          </span>

       
          <span mat-button [matMenuTriggerFor]="menu">
            <span matBadge = "5"  matBadgeColor="warn" matBadgePosition="before">
              <img src="assets/images/logo.png"  style="width: 50px;">
            </span>            
          </span>
              <mat-menu #menu="matMenu"  id="a1"   class="dropdrowncls myaccount-dropdown"  style="" >
         
                <ul class="profile-dropdown maindropdowncls"  style="list-style-type:none;">
                  <li routerLink="/profile/inbox">
                    <a>Inbox
                    </a>
                  </li>
                  <li routerLink="/profile/mystubs">
                    <a>My Stub
                    </a>
                  </li>
                  <!-- <li routerLink="/gtcorporate">
                    <a>Goodtimes Corporate
                    </a>
                  </li> -->
                  <li routerLink="/profile/terms">
                    <a>Terms & Condition
                    </a>
                  </li>
                  <li routerLink="/profile/privacy">
                    <a>Privacy Policies
                    </a>
                  </li>
                  <li routerLink="/profile/contact">
                    <a>Contact Us
                    </a>
                  </li>
      
                  <li (click)="logout()">
                    <a>Logout
                    </a>
                  </li>
                </ul>
         
              </mat-menu>


        </div>
     
        <!-- <span>
            <button mat-raised-button color="primary"
                matBadge="8" matBadgePosition="before" matBadgeColor="accent">
              Action
            </button>          
        </span> -->

        <!-- <span class="badge badge-pill badge-light text-capitalize bdrcolor  fontweight addcolor" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</span> -->


        <!-- <button class="btn  dropdown-toggle dropdown-button" type="button"
                          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          My profile -->
        <!-- <img src="assets/images/angle-arrow-down.png" class="dropdown-icon"> -->
        <!-- </button> -->

        <div class="dropdown-menu dropdown-menu-right text-center  dropdrowncls   myaccount-dropdown"
          aria-labelledby="dropdownMenuButton" style="margin-left: -100%">

          <ul class="profile-dropdown maindropdowncls">
            <li routerLink="/inbox">
              <a>Inbox

              </a>
            </li>
            <li routerLink="/mystubs">
              <a>My Stub
              </a>
            </li>
            <!-- <li routerLink="/gtcorporate">
              <a>Goodtimes Corporate
              </a>
            </li> -->
            <li routerLink="/terms">
              <a>Terms & Condition
              </a>
            </li>
            <li routerLink="/privacy">
              <a>Privacy Policies
              </a>
            </li>
            <li routerLink="/contact">
              <a>Contact Us
              </a>
            </li>

            <li (click)="logout()">
              <a>Logout
              </a>
            </li>
          </ul>
        </div>
      </div>



    </ul>


    <!-- 
  
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- </form> -->
  </div>
</nav>

<span style="position: fixed; bottom:0% ; right:20px;bottom:3px">
  <img src="assets/images/chat-icon-.png"   style="width:50px;">
</span>

<!-- <img src="assets/images/chat-icon-.png"  style="position: absolute;right:2px;bottom:3px;width: 50px"> -->
