.example-spacer {
    flex: 1 1 auto;
  }
  .fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
 

 .footer {
 

  position: fixed;

  bottom: 0;

  width: 100%;

  height: 40px;

  /* background-color: #DFDFDF; */

}
