<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>My First App</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer">

          <button mat-button>About</button>
        <button mat-button>Contact</button>
    

      </span>


      <span  fxLayoutAlign="center center">
      </span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>

  </button>
 
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
   -->


   <!-- <mat-toolbar color="primary">

      <button mat-button routerLink="/">
      <mat-icon>home</mat-icon> 
          {{title}}</button>
  
      <span class="fill-remaining-space"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <button mat-button routerLink="/products">Products</button>
          <button mat-button routerLink="/dashboard">Dashboard</button>
      </div>
      <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
       <mat-icon>menu</mat-icon>
      </button>
  
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  </mat-menu>
   -->
  


<app-goodtimeshome   ></app-goodtimeshome>



   <router-outlet></router-outlet>

   <footer class="footer"  style="position: fixed; bottom:0%">
 
      <div class="container"  style="position: relative">
 
      <p  style="font-size: 10px;font-family:Poppins-Regular;line-height: 4 ">&copy;Goodtimes 2018 </p>

<!--       
      <div  style="display: flex" fxFlex fxLayout="row" fxFlexAlign="center center" class="row">
          <div class="column">
            <img src="/assets/images/instagram.png" alt="instagram" style="width:100%">
          </div>
          <div class="column">
            <img src="/assets/images/fb.png" alt="fb" style="width:100%">
          </div>
          <div class="column">
            <img  src="/assets/images/youtube.png" alt="youtube" style="width:100%">
          </div>
        </div> -->
        

      <div fxFlex fxLayout="row" fxLayoutGap="10px" fxFlexOffset="20px" fxFlexAlign="start">
          <img src="assets/images/instagram.png"  style="width: 30px; height:30px;">
          <img src="assets/images/fb.png"   style="width: 30px; height:30px;">
          <img src="assets/images/youtube.png">
         
          
        </div>

                
        <!-- /home/manda/goodtimes/goodtimes/src/assets/images/ -->
        
        <div>

        </div>

      </div>
 
    </footer>
