
/* .mat-step-header{
    background-color: yellow;
} */
/* .mat-step-header  */

mat-step-header {
    /* background-color: yellow; */
    padding-left: 50px;
    padding-right: 50px;
}


.mat-stepper-label-position-bottom .mat-horizontal-stepper-header{
    padding-left: 50px !important;
    padding-right: 50px !important;

}



.mat-step-icon-state-number .mat-step-icon{
    background-color: #A603A4 !important;
}

.mat-step-header .mat-step-icon-selected {
    background-color: #A603A4; 
 }

.mat-step-icon-state-number {

    background-color: #A603A4;
 }

::ng-deep .mat-step-icon-state-number .mat-step-icon{

    background-color: #A603A4 !important;
 }


 .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before { 
    border-top-width: 4px;
    border-top-color:#A603A4;
    /* border-top-color:transparent; */
}
  
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
    border-top-width: 4px;
    border-top-color: #A603A4;

  }
  
  .mat-stepper-horizontal-line {
    border-top-width: 4px;
    border-top-color: #A603A4;;
  }
  

  .seat-selection-cls{
      padding:10px;
      background-color: #A603A4;
      color: #ffffff;
      border-radius: 20px;

  }

  .full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;  
    margin-left: -50vw;
 }
 
 .full-width-image img {
   width: 100%;
 }

 .stepOne-cls{
     display: flex;
     justify-content: center;
     font-family:Poppins-Bold;

 }

 .seat-cls{
     width:75%;
     height: auto;
 }

 .date-group-btns{
     /* padding: 20px; */
     /* border: 1px solid #A603A4; */
     /* border-radius: 10px; */
 }

 .date-btn{
    border: 1px solid #A603A4 !important;
     padding: 20px;  
     border-radius: 10px;
     /* color: #ffffff;
     background-color: #A603A4; */
     background-color: #ffffff;
     color: #A603A4;


    }


    .date-btn:active{
        background:#A603A4;
        color: #fafafa;
    }

    .date-btn:focus{
        background:#A603A4;
        color: #fafafa;
    }


    .time-btn{
        border: 1px solid #A603A4 !important;
         padding: 20px;  
         border-radius: 10px;
         /* color: #ffffff;
         background-color: #A603A4; */
         background-color: #ffffff;
         color: #A603A4;
    
    
        }

        

    .time-btn:active{
        background:#A603A4;
        color: #fafafa;
    }

    .time-btn:focus{
        background:#A603A4;
        color: #fafafa;
    }


.stage-cls{
    background-color: #A603A4;
    color: #ffffff;
    font-family:Poppins-Bold;
    border-radius: 10px;
} 
.table-responsive table td{
    padding-right: 15px;
}

.seat-nav-btn-cls{
    float: right;
    display: flex;
    justify-content: space-between
}

.seat-back-btn{
    display:flex;
    justify-content: flex-start;
}

.seat-btn-adjust-cls{
    display:flex;
    justify-content: space-between;
}

.selected-seats-cls{
    padding-right: 20px;
    color: #A603A4;
    font-family:Poppins-Regular;


}

.next-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
    border: none;
    /* border: 1px solid #A603A4; */
    color: #ffffff;
    background-color:#03A605;
    font-size: 12px;
    font-family: Poppins-Medium;
}

.legend-btn-cls{
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
    border: none;
    /* border: 1px solid #A603A4; */
    color: #ffffff;
    background-color:#A603A4;
    font-size: 12px;
    font-family: Poppins-Medium;
}


.back-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
    border: 1px solid #A603A4;
    color: #A603A4;
    background-color: #ffffff;
    font-size: 10px;
    font-family: Poppins-Medium;
}


.venue-list{
    border: 1px solid #A603A4;
    border-radius: 10px;
    color: #ffffff !important;
    background-color: #A603A4;
    width: 50%;
}

.venue-list-one{
    border: 1px solid #A603A4;
    border-radius: 10px;
    color: #A603A4 !important;
    background-color: #ffffff;
    width: 50%;
}


/* steeper css */


h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #A603A4;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
h2 span {
    background: #fff;
    padding: 0 10px;
    border:1px solid #A603A4;
    margin-top:10px;
    border-radius:20px
}
/* :end setteper */


.stepper-btn-one-cls{
    border: 1px solid #A603A4;
    border-radius: 50%;
    padding: 0 10px;
    margin-bottom:5px;
    background-color: #A603A4;
    color: #ffffff;

}

.img-text-cls{
    font-family:Poppins-Medium; 
    font-size: 14px;
}

.img-heading-cls{
    font-family:Poppins-SemiBold;

}
.Addon-heading-cls{
    font-family:Poppins-SemiBold;
    color: #A603A4;  
}

.Addon-img-text-cls{
    color: #ffffff;
}

.select-items{
    border-radius: 25px !important;
}


 /* select arrow css */


 .select-style {
    width: auto;
    border: 1px solid #191919;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    overflow: hidden;
    /* background: #fafafa url("/assets/images/drag.png") no-repeat 98% 4px; */
    background: #fafafa url("../../../../assets/images/drag.png") no-repeat 98% 4px;
    background-size: 20px 15px;
    /* padding-top: 8px; */
}

/* /home/manda/goodtimes/goodtimes/src/assets/images */
.select-style select {
    /* padding: 9px 8px 0 5px; */
    padding-left: 5px;
    padding-bottom: 5px;
    font-family:Poppins-Light;
    width: 100%;
    border: none;
    font-size: 14px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-style select:focus {
    outline: none;
}


 /* end select arrow css */


 .minus-btn-cls{
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #A603A4;
    color: white;
    background-color: #A603A4;
 }

 .minus1-btn-cls{
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #A603A4;
    color: white;
    background-color: #A603A4; 
}

.minus2-cls{
    font-size: 24px;
    color: #A603A4;
}

.cart-input-cls{
    border-radius: 28px;
    /* margin: 28px; */
    width: 60%;
    height: 25px;
    margin-left: 15px;
}

.cart1-input-cls{
    border-radius: 10px;
    width: 60%;
    height: 25px;
    padding-left: 5px;
    padding: 17px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0px;
    color: #ffffff !important;
    background-color: #A603A4  !important; 
}

.cart2-input-cls{
    border-radius: 10px;
    padding-left: 16px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0px;
    text-align: center;
    color: #ffffff !important;
    background-color: #A603A4  !important; 
}
.delete-btn-cls{
    display: flex;
    justify-content: space-around;
}
/* border-radius: 7px;
    width: 60%;
    height: 25px;
    margin-left: 7px;
    padding: 15px; */

  .subtotal-cls{
      display: flex;
      justify-content: flex-end;
      color: #A603A4;
      font-family:Poppins-Bold;
    } 