<section>


  <div class="container">




    <!-- <div class="d-flex">

        <span  class="stepper-btn-one-cls">
          1
        </span>
        
        <h2>
          <span>Seat Selection</span>
        </h2>

        <span  class="stepper-btn-one-cls">
            2
        </span>
        <h2>
            <span>Seat Selection</span>
        </h2>
  

        <span  class="stepper-btn-one-cls">
            3
        </span>
        <h2>
            <span>Seat Selection</span>
        </h2>
  

        <span  class="stepper-btn-one-cls">
            4
        </span>


       
    </div> -->







    <mat-horizontal-stepper labelPosition="bottom" #stepper>

      <ng-template matStepperIcon="edit" class="seat-selection-cls">
        <span style="padding:10px" class="seat-selection-cls"> seat selection </span>
      </ng-template>


      <button matStepperIcon="edit"> Seat Selection</button>



      <mat-step>


          <div class="full-width-image">
            <img class="rounded" src="assets/images/1.png" alt="" style="width:100%;height:200px">
          </div>
          <div class="container ">
            <div class="stepOne-cls mb-3 mt-3">
              <p>
                Choose Your Venue
              </p>
            </div>
  
            <div class="container" fxLayout="column" fxLayoutAlign="space-around center">
  
  
  
              <a class="btn btn-block venue-list-one  ">KICC</a>
  
              <a class="btn btn-block  venue-list-one ">PICC</a>
  
              <a class="btn btn-block  venue-list ">ICC</a>
  
              <a class="btn btn-block  venue-list-one ">BCCI</a>
  
              <a class="btn btn-block  venue-list-one ">PCB</a>
  
  
  
  
            </div>
  
  
  
          </div>
  
  
  
  
  
  
        </mat-step>
  




      <mat-step>



        <div class="full-width-image">
          <img class="rounded" src="assets/images/1.png" alt="" style="width:100%;height:200px">
        </div>
        <div class="container ">
          <div class="stepOne-cls mb-3 mt-3">
            <p>
              Choose Your Date , Time & Seat
            </p>
          </div>

          <div class="mb-3 mt-3">
            Date
          </div>

          <div class="btn-group  date-group-btns stepOne-cls " role="group" aria-label="Basic example">
            <button type="button" class="btn date-btn">
              12 july 2019
            </button>
            <button type="button" class="btn date-btn"> 12 july 2019 </button>
            <button type="button" class="btn  date-btn"> 12 july 2019</button>
            <button type="button" class="btn  date-btn">12 july 2019 </button>

          </div>



          <div class="mb-3 mt-3">
            Time
          </div>

          <div class="btn-group  date-group-btns stepOne-cls " role="group" aria-label="Basic example">
            <button type="button" class="btn time-btn">
              11:00
            </button>
            <button type="button" class="btn time-btn"> 13:30 </button>
            <button type="button" class="btn  time-btn"> 17:50</button>
            <button type="button" class="btn  time-btn">20:30 </button>

          </div>


          <div class="stepOne-cls mb-5 mt-5">
            <p>
              Choose Your Prefered Seat
            </p>
          </div>


          <a href="#" class="btn input-block-level  stage-cls form-control">
            STAGE</a>


          <div class="container mb-3 mt-3">



            <div class="table-responsive">
              <table class="">
                <thead>
                  <!-- <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                          <th scope="col">Heading</th>
                                        </tr> -->
                </thead>

                <tbody>

                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>

       
                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>


                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>


                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>


                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>


                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>


                  <tr>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>

                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>
                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls"  src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img  class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>



                    </td>
                    <td>

                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                      </div>


                    </td>
                    <td>
                      <div class="d-flex">
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>
                        <div>
                          <img class="seat-cls" src="assets/images/totalseats-black.png">
                        </div>

                      </div>

                    </td>
                  </tr>




                </tbody>
              </table>
            </div>




          </div>

        </div>

        <div class="seat-btn-adjust-cls mb-5">
          <span>
            <button class="back-btn-cls" (click)="goBack(stepper)" class="btn" type="button"
              [disabled]="stepper.selectedIndex === 0">Back</button>
            <button class="btn  legend-btn-cls">
              Legend
            </button>
          </span>
          <span>
            <span class="selected-seats-cls">
              <img src="assets/images/totalseats-black.png" style="padding-right:5px;">
              <span>Total Seats : <span>2</span></span>
            </span>
            <button class="next-btn-cls" (click)="goForward(stepper)" type="button"
              [disabled]="stepper.selectedIndex === stepper._steps.length-1">Next</button>
          </span>
        </div>


      </mat-step>



     

      <mat-step>



        <div class="container">



          <div class="row">
            <div class="col-md-4 col-sm-4">
              <img src="assets/images/1.png" style="width:100%;">
            </div>

            <div class="col-md-8  col-sm-8  img-heading-cls">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <h4>
                    The Tripple Queen
                  </h4>

                </div>
              </div>

              <div class="row img-text-cls">
                <div class="col-md-2 col-sm-3 col-xs-6">
                  <p>Seat: </p>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-6">
                  <p>2a, 2b , 2c</p>
                </div>
                <!-- <div class="col-md-1">

                          </div> -->
                <div class="col-md-2 col-sm-3 col-xs-6">
                  <p>Price:</p>
                </div>
                <div class="col-md-4 col-sm-3  col-xs-6">
                  <p>20.00</p>
                </div>
              </div>

              <div class="row  img-text-cls">
                <div class="col-md-2  col-sm-3 col-xs-6">
                  <p>Location: </p>
                </div>
                <div class="col-md-4  col-sm-3  col-xs-6">
                  <p>Cine plus , kondapur , hyderabad</p>
                </div>
                <!-- <div class="col-md-1">
  
                            </div> -->
                <div class="col-md-2  col-sm-3  col-xs-6">
                  <p>Sub Total :</p>
                </div>
                <div class="col-md-4  col-sm-3  col-xs-6">
                  <p>20.00</p>
                </div>
              </div>


              <div class="row  img-text-cls">
                <div class="col-md-2  col-sm-3  col-xs-6">
                  <p>Time : </p>
                </div>
                <div class="col-md-4  col-sm-3  col-xs-6">
                  <p>8:00pm</p>
                </div>
                <!-- <div class="col-md-1">
    
                              </div> -->
                <!-- <div class="col-md-2 col-sm-3 col-xs-6">
                  <p>Discount :</p>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-6">
                  <p>20%</p>
                </div> -->

              </div>


            </div>
          </div>
        </div>


        <div class="container mb-5 mt-5">
          <div class="Addon-heading-cls" fxLayout="column" fxLayoutAlign="center center">
            <h5>Add Ons</h5>
          </div>
        </div>

        <div class="contianer mb-5">

          <div class="row mb-5 " style="">

            <div class="col-md-3 col-sm-3">
              <div class="" style="position: relative">
                <img class="img-thumbnail rounded" src="assets/images/gtb.png" alt="" style="width:80%;
                  border-bottom-right-radius: .6em !important;
                  border-bottom-left-radius:  .6em !important;
                  height:340px">
                <div style="position: absolute;bottom:0px;
                    border-bottom-right-radius: .6em;
                    border-bottom-left-radius:  .6em;
                    background-color: #040128;width:80% ;height: 125px;">
                  <div class="Addon-img-text-cls" fxLayout="column" fxLayoutAlign="space-around start"
                    style="padding-left:10px">
                    <div>
                      Special limited T-Shirts
                    </div>
                    <div>
                      MYR 20.00
                    </div>
                    <div>
                      <div class="select-style">
                        <select>
                          <option class="select-items" value="volvo">Size</option>
                          <option class="select-items" value="volvo">Volvo</option>
                          <option class="select-items" value="saab">Saab</option>
                          <option class="select-items" value="mercedes">Mercedes</option>
                          <option class="select-items" value="audi">Audi</option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex" style="justify-content: space-between"
                      style="padding-right: 10px;margin-top:10px;">
                      <div>
                        <button class="btn  minus-btn-cls">-</button>
                      </div>
                      <div>
                        <input class="form-control cart-input-cls" type="text" readonly>
                      </div>
                      <div>
                        <button class="btn minus-btn-cls">+</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>



            <div class="col-md-3 col-sm-3">
                <div class="" style="position: relative">
                  <img class=" img-thumbnail rounded" src="assets/images/cap1.jpeg" alt="" style="width:80%;
                                border-bottom-right-radius: .6em !important;
                                border-bottom-left-radius:  .6em !important;
                                height:340px">
                  <div style="position: absolute;bottom:0px;
                                  border-bottom-right-radius: .6em;
                                  border-bottom-left-radius:  .6em;
                                  background-color: #040128;width:80% ;height: 125px;">
                    <div class="Addon-img-text-cls" fxLayout="column" fxLayoutAlign="space-around start" style="padding-left:10px">
                      <div>Special limited T-Shirts</div>
                      <div>MYR 20.00</div>
                      <div>
                        <div class="select-style">
                          <select>
                            <option class="select-items" value="volvo">Size</option>
                            <option class="select-items" value="volvo">Volvo</option>
                            <option class="select-items" value="saab">Saab</option>
                            <option class="select-items" value="mercedes">Mercedes</option>
                            <option class="select-items" value="audi">Audi</option>
                          </select>
                        </div>
                      </div>
                      <div class="d-flex" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                        <div>
                          <button class="btn  minus-btn-cls">-</button>
                        </div>
                        <div>
                          <input class="form-control cart-input-cls" type="text" readonly>
                        </div>
                        <div>
                          <button class="btn minus-btn-cls">+</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-md-3 col-sm-3">
                  <div class="" style="position: relative">
                    <img class="img-thumbnail rounded" src="assets/images/popcorn.jpeg" alt="" style="width:80%;
                                  border-bottom-right-radius: .6em !important;
                                  border-bottom-left-radius:  .6em !important;
                                  height:340px">
                    <div style="position: absolute;bottom:0px;
                                    border-bottom-right-radius: .6em;
                                    border-bottom-left-radius:  .6em;
                                    background-color: #040128;width:80% ;height: 125px;">
                      <div class="Addon-img-text-cls" fxLayout="column" fxLayoutAlign="space-around start" style="padding-left:10px">
                        <div>Special limited T-Shirts</div>
                        <div>MYR 20.00</div>
                        <div>
                          <div class="select-style">
                            <select>
                              <option class="select-items" value="volvo">Size</option>
                              <option class="select-items" value="volvo">Volvo</option>
                              <option class="select-items" value="saab">Saab</option>
                              <option class="select-items" value="mercedes">Mercedes</option>
                              <option class="select-items" value="audi">Audi</option>
                            </select>
                          </div>
                        </div>
                        <div class="d-flex" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                          <div>
                            <button class="btn  minus-btn-cls">-</button>
                          </div>
                          <div>
                            <input class="form-control cart-input-cls" type="text" readonly>
                          </div>
                          <div>
                            <button class="btn minus-btn-cls">+</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-3 col-sm-3">
                    <div class="" style="position: relative">
                      <img class="img-thumbnail rounded" src="assets/images/chips.jpeg" alt="" style="width:80%;
                                    border-bottom-right-radius: .6em !important;
                                    border-bottom-left-radius:  .6em !important;
                                    height:340px">
                      <div style="position: absolute;bottom:0px;
                                      border-bottom-right-radius: .6em;
                                      border-bottom-left-radius:  .6em;
                                      background-color: #040128;width:80% ;height: 125px;">
                        <div class="Addon-img-text-cls" fxLayout="column" fxLayoutAlign="space-around start" style="padding-left:10px">
                          <div>Chips And Water</div>
                          <div>MYR 20.00</div>
                          <div>
                            <div class="select-style">
                              <select>
                                <option class="select-items" value="volvo">Size</option>
                                <option class="select-items" value="volvo">Volvo</option>
                                <option class="select-items" value="saab">Saab</option>
                                <option class="select-items" value="mercedes">Mercedes</option>
                                <option class="select-items" value="audi">Audi</option>
                              </select>
                            </div>
                          </div>
                          <div class="d-flex" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                            <div>
                              <button class="btn  minus-btn-cls">-</button>
                            </div>
                            <div>
                              <input class="form-control cart-input-cls" type="text" readonly>
                            </div>
                            <div>
                              <button class="btn minus-btn-cls">+</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

          </div>

          <div class="seat-btn-adjust-cls mb-5">
              <span>
                <button class="btn  back-btn-cls"  (click)="goBack(stepper)" >
                  Back
                </button>
              </span>
              <span>
                <span class="selected-seats-cls">
                </span>
                <button class="next-btn-cls" (click)="goForward(stepper)" type="button"
                  [disabled]="stepper.selectedIndex === stepper._steps.length-1">Next</button>
              </span>
            </div>
    
        </div>




      </mat-step>


      <mat-step>



        <div class="container">
          <div class="row  mb-4 mt-4">
            <div class="col-md-3 col-sm-3">
                <img alt="" class="rounded" src="assets/images/1.png" style="width:100%;">
            </div>

            <div class="col-md-3 col-sm-3">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <h5>
                        The Tripple Queen
                      </h5>
    
                    </div>
                  </div>
    
                  <div class="row img-text-cls">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <p>Seat: </p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-6">
                      <p>2a, 2b , 2c</p>
                    </div>
                  </div>
                    <!-- <div class="col-md-1">
    
                              </div> -->
                   <div class="row img-text-cls">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <p>Price:</p>
                    </div>
                    <div class="col-md-8 col-sm-8  col-xs-6">
                      <p>20.00</p>
                    </div>
                  </div>
    
                   <div class="row img-text-cls">
                      <div class="col-md-4 col-sm-4 col-xs-6">
                        <p>Time:</p>
                      </div>
                      <div class="col-md-8 col-sm-8  col-xs-6">
                        <p>08:00pm</p>
                      </div>
                    </div>
      


            </div>

            <div class="col-md-2 col-sm-2 ">


                  <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <div class="img-text-cls text-center">
                            Item's
                        </div>
                      </div>
                  </div>

                <div class="d-flex mt-4" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                    <div>
                        <i class="fa fa-minus-square minus2-cls" aria-hidden="true"></i>

                      <!-- <button class="btn  minus1-btn-cls">-</button> -->
                    </div>
                    <div>
                      <input class="form-control img-text-cls  cart1-input-cls" value="1" type="text" readonly>
                    </div>
                    <div>
                        <i class="fa fa-plus-square minus2-cls" aria-hidden="true"></i>

                      <!-- <button class="btn minus1-btn-cls">+</button> -->
                    </div>
                </div>



            </div>

            <div class="col-md-2 col-sm-2">
              
              <div class="row">
                <div class="col-md-12 col-sm-12">
                   <p class="text-center  img-text-cls">
                      Price
                   </p>    
               </div>

              </div>
              <div class="text-center mt-2">
                  <div>
                      <input class="form-control  img-text-cls cart2-input-cls" value="60000" type="text" readonly>
                  </div>
                 
              </div>
             
            </div>

            <div class="col-md-2 col-sm-1">

              <div class="row">
                  &nbsp;
              </div>

              <div class="row">
                  &nbsp;
              </div>

              <div class="">
                <div class="delete-btn-cls">
                    <i class="fa fa-trash-o minus2-cls" aria-hidden="true"></i>
                </div>

              </div>


            </div>
          </div>


          <div class="row  mb-4 mt-4">
              <div class="col-md-3 col-sm-3">
                  <img alt="" class="rounded" src="assets/images/1.png" style="width:100%;">
              </div>
  
              <div class="col-md-3 col-sm-3">
  
                  <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <h5>
                          The Tripple Queen
                        </h5>
      
                      </div>
                    </div>
      
                    <div class="row img-text-cls">
                      <div class="col-md-4 col-sm-4 col-xs-6">
                        <p>Seat: </p>
                      </div>
                      <div class="col-md-8 col-sm-8 col-xs-6">
                        <p>2a, 2b , 2c</p>
                      </div>
                    </div>
                      <!-- <div class="col-md-1">
      
                                </div> -->
                     <div class="row img-text-cls">
                      <div class="col-md-4 col-sm-4 col-xs-6">
                        <p>Price:</p>
                      </div>
                      <div class="col-md-8 col-sm-8  col-xs-6">
                        <p>20.00</p>
                      </div>
                    </div>
      
                     <div class="row img-text-cls">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                          <p>Time:</p>
                        </div>
                        <div class="col-md-8 col-sm-8  col-xs-6">
                          <p>08:00pm</p>
                        </div>
                      </div>
        
  
  
              </div>
  
              <div class="col-md-2 col-sm-2 ">
  
  
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <div class="img-text-cls text-center">
                              Item's
                          </div>
                        </div>
                    </div>
  
                  <div class="d-flex mt-4" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                      <div>
                          <i class="fa fa-minus-square minus2-cls" aria-hidden="true"></i>
  
                        <!-- <button class="btn  minus1-btn-cls">-</button> -->
                      </div>
                      <div>
                        <input class="form-control img-text-cls  cart1-input-cls" value="1" type="text" readonly>
                      </div>
                      <div>
                          <i class="fa fa-plus-square minus2-cls" aria-hidden="true"></i>
  
                        <!-- <button class="btn minus1-btn-cls">+</button> -->
                      </div>
                  </div>
  
  
  
              </div>
  
              <div class="col-md-2 col-sm-2">
                
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <p class="text-center  img-text-cls">
                        Price
                     </p>    
                 </div>
  
                </div>
                <div class="text-center mt-2">
                    <div>
                        <input class="form-control  img-text-cls cart2-input-cls" value="60000" type="text" readonly>
                    </div>
                   
                </div>
               
              </div>
  
              <div class="col-md-2 col-sm-1">
  
                <div class="row">
                    &nbsp;
                </div>
  
                <div class="row">
                    &nbsp;
                </div>
  
                <div class="">
                  <div class="delete-btn-cls">
                      <i class="fa fa-trash-o minus2-cls" aria-hidden="true"></i>
                  </div>
  
                </div>
  
  
              </div>
            </div>

            
            <div class="row  mb-4 mt-4">
                <div class="col-md-3 col-sm-3">
                    <img alt="" class="rounded" src="assets/images/1.png" style="width:100%;">
                </div>
    
                <div class="col-md-3 col-sm-3">
    
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <h5>
                            The Tripple Queen
                          </h5>
        
                        </div>
                      </div>
        
                      <div class="row img-text-cls">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                          <p>Seat: </p>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                          <p>2a, 2b , 2c</p>
                        </div>
                      </div>
                        <!-- <div class="col-md-1">
        
                                  </div> -->
                       <div class="row img-text-cls">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                          <p>Price:</p>
                        </div>
                        <div class="col-md-8 col-sm-8  col-xs-6">
                          <p>20.00</p>
                        </div>
                      </div>
        
                       <div class="row img-text-cls">
                          <div class="col-md-4 col-sm-4 col-xs-6">
                            <p>Time:</p>
                          </div>
                          <div class="col-md-8 col-sm-8  col-xs-6">
                            <p>08:00pm</p>
                          </div>
                        </div>
          
    
    
                </div>
    
                <div class="col-md-2 col-sm-2 ">
    
    
                      <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <div class="img-text-cls text-center">
                                Item's
                            </div>
                          </div>
                      </div>
    
                    <div class="d-flex mt-4" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                        <div>
                            <i class="fa fa-minus-square minus2-cls" aria-hidden="true"></i>
    
                          <!-- <button class="btn  minus1-btn-cls">-</button> -->
                        </div>
                        <div>
                          <input class="form-control img-text-cls  cart1-input-cls" value="1" type="text" readonly>
                        </div>
                        <div>
                            <i class="fa fa-plus-square minus2-cls" aria-hidden="true"></i>
    
                          <!-- <button class="btn minus1-btn-cls">+</button> -->
                        </div>
                    </div>
    
    
    
                </div>
    
                <div class="col-md-2 col-sm-2">
                  
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                       <p class="text-center  img-text-cls">
                          Price
                       </p>    
                   </div>
    
                  </div>
                  <div class="text-center mt-2">
                      <div>
                          <input class="form-control  img-text-cls cart2-input-cls" value="60000" type="text" readonly>
                      </div>
                     
                  </div>
                 
                </div>
    
                <div class="col-md-2 col-sm-1">
    
                  <div class="row">
                      &nbsp;
                  </div>
    
                  <div class="row">
                      &nbsp;
                  </div>
    
                  <div class="">
                    <div class="delete-btn-cls">
                        <i class="fa fa-trash-o minus2-cls" aria-hidden="true"></i>
                    </div>
    
                  </div>
    
    
                </div>
              </div>

              
              <div class="row  mb-4 mt-4">
                  <div class="col-md-3 col-sm-3">
                      <img alt="" class="rounded" src="assets/images/1.png" style="width:100%;">
                  </div>
      
                  <div class="col-md-3 col-sm-3">
      
                      <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <h5>
                              The Tripple Queen
                            </h5>
          
                          </div>
                        </div>
          
                        <div class="row img-text-cls">
                          <div class="col-md-4 col-sm-4 col-xs-6">
                            <p>Seat: </p>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-6">
                            <p>2a, 2b , 2c</p>
                          </div>
                        </div>
                          <!-- <div class="col-md-1">
          
                                    </div> -->
                         <div class="row img-text-cls">
                          <div class="col-md-4 col-sm-4 col-xs-6">
                            <p>Price:</p>
                          </div>
                          <div class="col-md-8 col-sm-8  col-xs-6">
                            <p>20.00</p>
                          </div>
                        </div>
          
                         <div class="row img-text-cls">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                              <p>Time:</p>
                            </div>
                            <div class="col-md-8 col-sm-8  col-xs-6">
                              <p>08:00pm</p>
                            </div>
                          </div>
            
      
      
                  </div>
      
                  <div class="col-md-2 col-sm-2 ">
      
      
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                              <div class="img-text-cls text-center">
                                  Item's
                              </div>
                            </div>
                        </div>
      
                      <div class="d-flex mt-4" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                          <div>
                              <i class="fa fa-minus-square minus2-cls" aria-hidden="true"></i>
      
                            <!-- <button class="btn  minus1-btn-cls">-</button> -->
                          </div>
                          <div>
                            <input class="form-control img-text-cls  cart1-input-cls" value="1" type="text" readonly>
                          </div>
                          <div>
                              <i class="fa fa-plus-square minus2-cls" aria-hidden="true"></i>
      
                            <!-- <button class="btn minus1-btn-cls">+</button> -->
                          </div>
                      </div>
      
      
      
                  </div>
      
                  <div class="col-md-2 col-sm-2">
                    
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                         <p class="text-center  img-text-cls">
                            Price
                         </p>    
                     </div>
      
                    </div>
                    <div class="text-center mt-2">
                        <div>
                            <input class="form-control  img-text-cls cart2-input-cls" value="60000" type="text" readonly>
                        </div>
                       
                    </div>
                   
                  </div>
      
                  <div class="col-md-2 col-sm-1">
      
                    <div class="row">
                        &nbsp;
                    </div>
      
                    <div class="row">
                        &nbsp;
                    </div>
      
                    <div class="">
                      <div class="delete-btn-cls">
                          <i class="fa fa-trash-o minus2-cls" aria-hidden="true"></i>
                      </div>
      
                    </div>
      
      
                  </div>
                </div>

                
                <div class="row  mb-4 mt-4">
                    <div class="col-md-3 col-sm-3">
                        <img alt="" class="rounded" src="assets/images/1.png" style="width:100%;">
                    </div>
        
                    <div class="col-md-3 col-sm-3">
        
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                              <h5>
                                The Tripple Queen
                              </h5>
            
                            </div>
                          </div>
            
                          <div class="row img-text-cls">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                              <p>Seat: </p>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-6">
                              <p>2a, 2b , 2c</p>
                            </div>
                          </div>
                            <!-- <div class="col-md-1">
            
                                      </div> -->
                           <div class="row img-text-cls">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                              <p>Price:</p>
                            </div>
                            <div class="col-md-8 col-sm-8  col-xs-6">
                              <p>20.00</p>
                            </div>
                          </div>
            
                           <div class="row img-text-cls">
                              <div class="col-md-4 col-sm-4 col-xs-6">
                                <p>Time:</p>
                              </div>
                              <div class="col-md-8 col-sm-8  col-xs-6">
                                <p>08:00pm</p>
                              </div>
                            </div>
              
        
        
                    </div>
        
                    <div class="col-md-2 col-sm-2 ">
        
        
                          <div class="row">
                              <div class="col-md-12 col-sm-12">
                                <div class="img-text-cls text-center">
                                    Item's
                                </div>
                              </div>
                          </div>
        
                        <div class="d-flex mt-4" style="justify-content: space-between" style="padding-right: 10px;margin-top:10px;">
                            <div>
                                <i class="fa fa-minus-square minus2-cls" aria-hidden="true"></i>
        
                              <!-- <button class="btn  minus1-btn-cls">-</button> -->
                            </div>
                            <div>
                              <input class="form-control img-text-cls  cart1-input-cls" value="1" type="text" readonly>
                            </div>
                            <div>
                                <i class="fa fa-plus-square minus2-cls" aria-hidden="true"></i>
        
                              <!-- <button class="btn minus1-btn-cls">+</button> -->
                            </div>
                        </div>
        
        
        
                    </div>
        
                    <div class="col-md-2 col-sm-2">
                      
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                           <p class="text-center  img-text-cls">
                              Price
                           </p>    
                       </div>
        
                      </div>
                      <div class="text-center mt-2">
                          <div>
                              <input class="form-control  img-text-cls cart2-input-cls" value="60000" type="text" readonly>
                          </div>
                         
                      </div>
                     
                    </div>
        
                    <div class="col-md-2 col-sm-1">
        
                      <div class="row">
                          &nbsp;
                      </div>
        
                      <div class="row">
                          &nbsp;
                      </div>
        
                      <div class="">
                        <div class="delete-btn-cls">
                            <i class="fa fa-trash-o minus2-cls" aria-hidden="true"></i>
                        </div>
        
                      </div>
        
        
                    </div>
                  </div>
        

        <div class="container">
          <div  class="subtotal-cls" style="display: flex; ">
              <p>Sub Total</p> : <span>9000</span>
          </div>
        </div>

        

        <div class="seat-btn-adjust-cls mb-5">
            <span>
              <button class="btn  back-btn-cls"  (click)="goBack(stepper)" >
                Back
              </button>
            </span>
            <span>
              <span class="selected-seats-cls">
              </span>
              <button class="next-btn-cls" (click)="Checkout()" type="button"
                >Checkout</button>
            </span>
          </div>
  


        </div>









      </mat-step>


      <div>
        <div class="d-flex">
          <!-- <button mat-button matStepperPrevious type="button">Back</button> -->
          <!-- <button mat-button matStepperNext type="button">Next</button>         -->
        </div>

        <!-- <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button> -->
      </div>
    </mat-horizontal-stepper>

    <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
        <button mat-raised-button color="accent" (click)="move(0)">1st</button>
        <button mat-raised-button color="accent" (click)="move(1)">2nd</button>
        <button mat-raised-button color="accent" (click)="move(2)">3rd</button>
        <button mat-raised-button color="accent" (click)="move(3)">4th</button>
      </div>
   -->
    <div>







    </div>

  </div>

</section>