.textcolor{
    color: #4E0250;
    
   }
  

   .fontfamily{

    font-family:Poppins-Bold;

}
.fontfamily-one{
    font-family:Poppins-Medium;
}

.fontfamily-two{

    font-family:Poppins-SemiBold;

}