<div class="container mb-5 fontfamily" style="position: relative">
  <div class="text-center font-weight-bold textcolor">
    <p>Edit Profile</p>
  </div>



  <div class="container mt-5 fontfamily-one">
    <div class="row justify-content-center">
      <div class="col-4">
        <span>
          Hello, Goodtimes
        </span>
        <span (click)="editProfile()">
          <img src="assets/images/edit.png" style="width:20px">
        </span>
      </div>
    </div>
  </div>







  <div class="container mt-5 mb-5">
    <div class="text-center font-weight-bold subheading-textcolor">
      <p>My Profile</p>
    </div>
  </div>

  <div class="container mt-2 mb-1">
    <div class="text-center font-weight-bold subheading-textcolor">
      <p>Personal Details</p>
    </div>
  </div>


  <div class="wrapper">
    <form class="form-signin">
      <div class="form-group row ">
        <label for="givenname" class="col-sm-4 col-form-label">Given Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control inctrls" id="givenname">
        </div>
      </div>

      <div class="form-group row ">
        <label for="Surname" class="col-sm-4 col-form-label">Surname</label>
        <div class="col-sm-8">
          <input type="text" class="form-control inctrls" id="Surname">
        </div>
      </div>

      <div class="form-group row ">
        <label for="Surname" class="col-sm-4 col-form-label">Date Of Birth</label>
        <div class="col-sm-8">
          <input type="text" class="form-control inctrls" id="Surname" placeholder="Name">
        </div>
      </div>

      <div class="form-group row ">
        <label for="MobileNum" class="col-sm-4 col-form-label">Mobile</label>
        <div class="col-sm-8">
          <input type="text" class="form-control inctrls" id="MobileNum">
        </div>
      </div>



      <div class="form-group row ">
        <label for="emailId" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control inctrls" id="emailId">
        </div>
      </div>

      <div class="form-group row ">
        <label for="emailingAddrs" class="col-sm-4 col-form-label">Emailing Address</label>
        <div class="col-sm-8">
          <input type="email" class="form-control inctrls" id="emailingAddrs">
        </div>
      </div>


    
      <div class="container mt-2 mb-1">
        <div class="text-center font-weight-bold subheading-textcolor">
            <p>Change Your Password</p>
        </div>
      </div>
   

      <div class="form-group row ">
        <label for="currentpassword" class="col-sm-4 col-form-label">Current Password</label>
        <div class="col-sm-8">
          <input type="email" class="form-control inctrls" id="currentpassword">
        </div>
      </div>

    
      <div class="form-group row ">
        <label for="Newpassword" class="col-sm-4 col-form-label">New Password </label>
        <div class="col-sm-8">
          <input type="email" class="form-control inctrls" id="Newpassword">
        </div>
      </div>

      <div class="form-group row ">
        <label for="confirmpswd" class="col-sm-4 col-form-label">Confirm New Password </label>
        <div class="col-sm-8">
          <input type="email" class="form-control inctrls" id="confirmpswd">
        </div>
      </div>


      <div class="row">
        <div class="text-center"  style="color: #8c8c8c">
            *PASSWORD is CASE SENSITIVE and must be a minimun of six(06) characters & not more than Twenty(20) characters.
        </div>
      </div>

 

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-12 ">
          <div class="">

            <div class="  " style="float :right;" >
              <button class="btn  update-btn">
                Update
              </button>
            </div>

            <div class="  " style="float :right">
              <button class="btn cancel-btn">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>


    </form>



    

  </div>



</div>