.container1
{
  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 450px;
  text-align: left;
  padding: 45px;
  border-radius: 3px;
  margin: 15px;
}
.left-text, .right-text
{
  font: 14px 'Source Code Pro', monospace;
	color: #333;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

.btncls{
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4E0250;
    border: none;
}

.btnclsone{
  border-radius: 30px;
  background-color: #4E0250;
  border: none;  
}

.btnclssubmit{
  border-radius: 30px;
  background-color: #13d800;
  border: none;  
}

.cancel-btn{
    border-radius: 30px;
    /* background-color: #13d800; */
    border: 1px solid #A603A4;  
    margin-right: 30px;
    padding: 3px;
    color: #A603A4;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Poppins-Medium;
  }
  

  .update-btn{
    border-radius: 30px;
    background-color: #03A605;
    padding: 3px;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Poppins-Medium;

  }


.cancelbtncls{
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #4E0250;  
  color: #4E0250;  
}
.updatebtncls{
  border-radius: 30px;
  background-color: #13d800;
  border: none;  
}
.textcolor{
  color: #4E0250;
  
 }
 






 .wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-signin {
  max-width: 500px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  /* border-bottom-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  /* border-top-left-radius: 0; */
  /* border-top-right-radius: 0; */
}

.Dateofbirthcls{
  display: flex;
  justify-content: space-between;
}

.addcolor{
  color: #4E0250 ;
}

.inctrls{
  border-radius: 50px;
  border: 1px solid #191919 ;
}

.subheading-textcolor{
    color: #191919;
}