<!-- <div>
    <div class="add-title">
      <h2 class="primary">Add customer</h2>
    </div>
    <div>
      <form [formGroup]="addCusForm" (change)="formChanged()">
        <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput placeholder="First Name" value={{fname}} formControlName="firstname" required>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">
                  Please enter first name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('pattern')">
                  Please enter valid first name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" value={{lname}} formControlName="lastname" required>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                  Please enter last name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                  Please enter valid last name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" formControlName="email" required>
                <mat-error *ngIf="addCusForm.controls.email.hasError('required')">
                  Please enter email id
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.email.hasError('email')">
                  Please enter valid email id
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <textarea matInput placeholder="Address"></textarea>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-radio-group class="gender">
                <div style="color:grey;">Gender</div>
                <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="1">Male</mat-radio-button>
                <mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="2">Female</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
  
        <div class="btn-sec">
          <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onaddCus()">Save</button>
          <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
        </div>
  
      </form>
    </div>
  </div> -->




<!-- <h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>Do you wish to continue previous shopping?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->


<!-- <div>
    <div class="add-title">
      <h2 class="primary" >SignUp</h2>
    </div>
    <div>
      <form [formGroup]="addCusForm" (change)="formChanged()">
        <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput placeholder="First Name" value={{fname}} formControlName="firstname" required>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">
                  Please enter first name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.firstname.hasError('pattern')">
                  Please enter valid first name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" value={{lname}} formControlName="lastname" required>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                  Please enter last name
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                  Please enter valid last name
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" formControlName="email" required>
                <mat-error *ngIf="addCusForm.controls.email.hasError('required')">
                  Please enter email id
                </mat-error>
                <mat-error *ngIf="addCusForm.controls.email.hasError('email')">
                  Please enter valid email id
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        
          <mat-grid-tile>
            <div class="text-inside">
              <mat-form-field>
                <textarea matInput placeholder="Address"></textarea>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="text-inside">
              <mat-radio-group class="gender">
                <div style="color:grey;">Gender</div>
                <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="1">Male</mat-radio-button>
                <mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="2">Female</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
  
        <div class="btn-sec">
          <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onaddCus()">Save</button>
          <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
        </div>
  
      </form>
    </div>
  </div> -->


<!-- <mat-card class="example-card"  style="box-shadow: none;">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
        <button mat-button [mat-dialog-close]="true">close</button>

      </mat-card-actions>
    </mat-card>
    -->


<div class="container signup-popuppage  modal-box "    >
  <div class="row modal-popup ">
  </div>
  <div class="container signup-tab">
    <div fxLayout="row" fxLayoutAlign="space-between end" style="position: relative; padding-left: 30px;">
      <p class="main-heading">Sign Up to Goodtimes</p>
      <span style="position:absolute; top:-25px;right:-50px;">
        <button [mat-dialog-close] style="border: none;background:transparent">
          <i class="fa fa-times-circle-o" style="color: #DA72D5" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <div class="main-div">

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px;">

        <!-- <mat-chip-list aria-label="social selection">
              <mat-chip class="fb-icon" color="primary" fxLayout="row" fxLayoutGap="10px;">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook
              </mat-chip>
              <mat-chip color="accent" class="google-icon">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google
              </mat-chip>
            </mat-chip-list> -->

        <mat-chip-list aria-label="social selection">
          <mat-chip class="fb-icon" color="primary" fxLayout="row" fxLayoutGap="10px;">
            <!-- <i class="fa fa-facebook-square" aria-hidden="true"></i> -->
            <!-- <img src="../../../../assets/images/fb.png" alt="" style="width: 20px;margin:5px;">  -->
            <img src="../../../../assets/images/fb1.png" alt="" style="width:18px;margin-right:5px !important;">
            <span style="margin-left:5px;"> Facebook</span>

          </mat-chip>
          <mat-chip color="accent" class="google-icon">
            <!-- <img src="../../../../assets/images/google+.png" alt="" style="width: 28px;margin:5px;height:auto%"> -->
            <img src="assets/images/google+.png" alt="" style="width: 28px;margin:5px;height:auto%">

            <!-- <i class="fa fa-google-plus" aria-hidden="true"></i> -->
            Google
          </mat-chip>
        </mat-chip-list>


      </div>


    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="col-md-5">
        <hr style="background-color:#4E0250">

      </div>
      <span style="color: #4E0250">Or</span>
      <div class="col-md-5">

        <hr style="background-color:#4E0250">
      </div>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="signUpFormData()">

      <div class="form-group addcolor">
        <input type="email" formControlName="signupnemail" name="signupnemail"
          class="form-control  mainLoginInput  inctrls" placeholder=" email"
          [ngClass]="{ 'is-invalid': submitted && f.signupnemail.errors }" />
                        <div *ngIf="submitted && f.signupnemail.errors" class="invalid-feedback">
                            <h5 style="text-align: start;color:#04012847">Oops!</h5>            
                            <div *ngIf="f.signupnemail.errors.required">Email is required</div>
                            <div *ngIf="f.signupnemail.errors.email">Email must be a valid email address</div>
                        </div>          
      </div>




      <div class="form-group addcolor">
        <input type="email" formControlName="signupnConfirmemail" name="signupnConfirmemail"
          class="form-control  mainLoginInput  inctrls" placeholder="confirmation email">
      </div>

      <div class="form-group addcolor">
        <input type="password" formControlName="signuppassword" name="signuppassword"
          class="form-control  mainLoginInput inctrls" id="signuppassword" placeholder="password"
            [ngClass]="{ 'is-invalid': submitted && f.signuppassword.errors }" />
                        <div *ngIf="submitted && f.signuppassword.errors" class="invalid-feedback">
                            <h5 style="text-align: start;color:#04012847">Oops!</h5>            
                            <div *ngIf="f.signuppassword.errors.required">Password is required</div>
                            <div *ngIf="f.signuppassword.errors.minlength">Password must be at least 6 characters</div>
                        </div>
      </div>


      <div class="form-group addcolor">
        <input type="password" formControlName="signupConfirmpassword" name="signupConfirmpassword"
          class="form-control  mainLoginInput inctrls" id="signupConfirmpassword" placeholder=" confirm password"
          [ngClass]="{ 'is-invalid': submitted && f.signupConfirmpassword.errors }" />
          <div *ngIf="submitted && f.signupConfirmpassword.errors " class="invalid-feedback">
              <h5 style="text-align: start;color:#04012847">Oops!</h5>            
              <div *ngIf="f.signupConfirmpassword.errors.required">Password is required</div>
              <!-- <div *ngIf="f.signuppassword.errors.minlength">Password must be at least 6 characters</div> -->
              <!-- <div *ngIf="f.signuppassword.errors.minlength">Password must be at least 6 characters</div> -->
              <!-- <div *ngIf="passwordmatch == true" >Passwords must match</div> -->
            </div>
          
            <div *ngIf=" passwordmatch == 'true'" class="invalid-feedback">
                <h5 style="text-align: start;color:#04012847">Oops!</h5>            
                <div >Passwords must match</div>
              </div>
            

      </div>

      <div class="form-group addcolor">
        <input type="text" formControlName="username" name="username" class="form-control mainLoginInput inctrls"
          id="username" placeholder=" Username"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <h5 style="text-align: start;color:#04012847">Oops!</h5>            
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>          

      </div>

      <div class="">
        <div class="row" style="display: flex;justify-content:center">

          <mat-form-field class="example-full-width" style=" margin-bottom: -1.25em">
            <input  formControlName="dateofbirth"  matInput [matDatepicker]="picker" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker" style="position: absolute;right:20px;bottom: -7px;">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/drag.png" alt="" style="width:100%;">

              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <mat-radio-group name="gender"  formControlName="reggender" >
        <mat-radio-button   style="padding-right: 8px;" value="m">Male</mat-radio-button>
        <mat-radio-button   style="padding-right: 8px;" value="f">Female</mat-radio-button>
      </mat-radio-group>

      <div class="row">
        <div class="text-center   col-sm-12 mb-2 forget-cls1">
          <mat-checkbox formControlName="regrobot"
            style="line-height:3;border-radius:12px;border:1px solid;padding: 10px;">I'm not a robot</mat-checkbox>
        </div>
      </div>

      <div class="main-div">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px;">
       
            <button   class="signupbtn btn badge badge-pill">
                <span class="">SignUp</span>
              </button>
       
          <!-- <mat-chip-list aria-label="social selection">
            <mat-chip class="signupbtn" type="submit" color="primary" fxLayout="row" fxLayoutGap="10px;">
              SignUp
            </mat-chip>
          </mat-chip-list> -->
        </div>
      </div>
    </form>

  </div>


  <!-- login-tab -->
  <!-- registration tab -->
  <!-- <div class="container login-tab" >
                    <form>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control input-field" placeholder="* First name"
                                        [(ngModel)]="formData.firstName" name="firstName">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control input-field" placeholder="* Last name"
                                        [(ngModel)]="formData.lastName" name="lastName">
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="email" class="form-control input-field" aria-describedby="emailHelp"
                                        placeholder="* Email" [(ngModel)]="formData.email" name="email">
                                </div>
                                <div class="form-group col-lg-12">
                                    <input myNumberOnly type="text" class="form-control input-field" maxlength="10"
                                        minlength="10" aria-describedby="emailHelp" placeholder="* Mobile Number"
                                        [(ngModel)]="formData.phone" name="phone">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="password" class="form-control input-field" placeholder="* Password"
                                        [(ngModel)]="formData.password" name="password">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" class="form-control input-field refferral"
                                        placeholder="Referral Code" [(ngModel)]="formData.referalCode"
                                        name="referalCode">
                                </div>
                            </div>
                            <div class="row mt-3">
                        <div class="col-lg-6">
                            <input type="text" name="text" class="form-control input-field"
                                placeholder="Enter Captcha" [(ngModel)]="formData.captchaValue">
                            <label *ngIf="showCaptchaer" class="text-danger" style="font-size:14px;">Incorrect
                                Captcha,
                                please try again</label>
                        </div>
                        <div class="col-lg-6">
                            <span id="captcha">{{captchaTExt}}</span> &nbsp; <img
                                src="assets/images/refresh.png" (click)="refreshCaptcha()" class="captcha-img">
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox terms-checkbox mt-3">
                        <input type="checkbox" class="custom-control-input terms-input" id="customCheck1"
                            checked>
                        <label class="custom-control-label terms-label" for="customCheck1">Accept Terms and
                            Conditions</label>
                    </div>
                    <button class="btn  submit-button mt-5 mb-3 " (click)="openOtpScreen()">Submit</button>
                    <div class="col-lg-12 mt-3">
                        <h3 class="text-center">OR</h3>
                    </div>
    
              
                    <div class="d-flex justify-content-around">
                            <div class="p-2">
                                <img src="assets/images/facebook.png">
                            </div>
                            <div class="p-2">
                                <img src="assets/images/google-plus.png">
                            </div>
                        </div>
    
    
                </form>
            </div>  -->
  <!-- registration tab -->
</div>