
/* {
    font-family: Poppins-Medium !important;
} */

.fa-facebook-square{
  background: whitesmoke;
  color: #3b5998;
  margin:5px !important;
  border-radius:5px;
  padding: 1px;
}
.fa-google-plus{
  background: #FF0000;
  /* color: #db3236; */
  margin:5px !important;
  border-radius:5px;
  padding: 1px;
}
.fb-icon{
  background-color: #3b5998 !important;
  color: #fafafa !important;
  font-weight: 600;
}

.google-icon{
  background-color: #FF0000  !important;
  color: #fafafa  !important;
  font-weight: 600;
}
.mat-form-field-flex{
  font-size: 20px;
}
.main-div{
      /* height: 100vh; */
      display: flex;
      justify-content: center;
      align-items: center;
    
}
.main-heading{
  font-weight: 900;
  font-family:Poppins-Bold !important;

}
.inctrls{
  border-radius: 25px;
  border: 1px solid #191919;
}
.lg-icon{
  background: #4E0250;
  color: #ffffff;
  font-weight: 600;

}

.login-btn{
  background: #4E0250;
  color: #ffffff;
  font-weight: 600;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;  
}

.forget-cls{
  color: #4E0250; 
}
.font-size-cls{
  font-size: 12px;
  font-family:Poppins-SemiBold !important;
}
.forget-cls1{
  font-weight: 900;
  color: #191919;
}

::ng-deep .mat-input-underline {
  display: none;
}

.mat-form-field-underline{
  display: none;
}

.mat-form-field-infix{
  border: 1px solid #191919;
  border-radius: 30px;
  margin: 5px;
  /* width: 50%; */
}


.signupbtn{
  background: #03A605	 !important;
  color: #ffffff !important;
  font-weight: 900;
  font-family:Poppins-SemiBold;
  padding: 10px;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
}


.mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family:Poppins-SemiBold;
  opacity: 1; /* Firefox */
}

.mainLoginInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family:Poppins-SemiBold;
}

.mainLoginInput::-ms-input-placeholder { /* Microsoft Edge */
  font-family:Poppins-SemiBold;
}

.dateofbirth{
  display: flex;
  justify-content: flex-start;
}


.selectbox1 {
  border: 1px solid #ccc;
  width: 90px;
  border-radius: 3px;
  overflow: hidden;
  border-radius: 20px;
  /* /home/manda/goodtimes/goodtimes/src/assets/images/drag.png */
  background: #fafafa url("/assets/images/drag.png") no-repeat 90% 50%;
box-shadow:0px 0px 5px #ccc;
}

.selectbox1 select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;

}

.selectbox1 select:focus {
  outline: none;
}
.gender-fontfamily{
  font-family:Poppins-SemiBold;

}

.gender-icons{
  font-family:Poppins-Medium;
}


.mat-dialog-container{

  font-family:Poppins-Medium;
}
@media (max-width: 991.98px) {

  /* .mat-dialog-container{ 
    max-width: 400px !important;
    min-width: 380px !important;
  } */
 }

 .invalid-feedback{
  background-color: #ea260d;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-family:Poppins-Medium;

}
