
/* swiper{
    height: 60vh;
    width: 100%;
}

swiper-wrapper {
    box-sizing: border-box;
}
 */


 swiper{
    width: 85%;
    margin: auto;
    height: 375px;;
}

img{
    width: 100%;
    height: 375px;;
}

/* .swiper-slide{
    img{
        width: 100%;
    }
} */

.addcolor{
    color: #A603A4 ;
  }
  /* .swiper-pagination-bullets{
      position: relative !important;
      bottom: 0px;
  }
  .swiper-paginatio1n .swiper-pagination-bullet-active{
      background: #A603A4 !important;
  }
.swiper-pagination1 .swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: #A603A4 !important;

} */

.searcginputcls {
        border-radius: 30px;
    
}
.searchcls{
    background: #A603A4 !important;
    color: white;
    border: none;
}
.font-weight-bold{
    font-family:Poppins-SemiBold;
}
.swiper-pagination-bullets{
    position: relative !important;
    bottom: 0px;
}
/* .swiper-button-prev{
    background-color: #A603A4;
    color: white;
    padding: 30px;
    border-radius: 30px;
}

.swiper-button-next{
    background-color: #A603A4;
    color: white;
    padding: 30px;
    border-radius: 30px;
} */

/* .swiper-pagination .swiper-pagination-bullet {

    color: #A603A4  !important;
    background-color: aliceblue !important;
}

.swiper-pagination1 .swiper-pagination-bullet-active {
	color:#fff  !important;
	background: #A603A4  !important;
}

.swiper-pagination-bullet-active{
    background-color: #A603A4 !important;
}  
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: #A603A4 !important;
} */


 /* select arrow css */


 .select-style {
    width: auto;
    border: 1px solid #191919;
    border-radius: 25px;
    padding: 5px;
    height: 32px;
    overflow: hidden;
    background: #fafafa url("/assets/images/drag.png") no-repeat 98% 4px;
    background-size: 20px 20px;
    /* padding-top: 8px; */
}

/* /home/manda/goodtimes/goodtimes/src/assets/images */
.select-style select {
    /* padding: 9px 8px 0 5px; */
    padding-left: 5px;
    padding-bottom: 5px;
    font-family:Poppins-Light;
    width: 100%;
    border: none;
    font-size: 14px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-style select:focus {
    outline: none;
}


 /* end select arrow css */

 .serach-btn-cls{
    width: 100px !important;
 }
 .serach-btn-cls-one{
     padding-left:30px;
     padding-right: 30px;
     padding-top: 8px;
     padding-bottom: 8px;
     background-color: #A603A4;
     color: #fafafa;
     /* font-family:Poppins-Medium; */
     font-family:Poppins-Light;

    }

.select-items{
    border-radius: 25px !important;
}

.select::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  
  .img-details-cls{
    position: absolute;
    bottom:0px;
    background-color: #040128;
    border-radius: 0px 0px 10px 10px;


}

.img-movie-des-cls{
    font-family:Poppins-SemiBold;
    font-size: 14px;
}

/* font-family:Poppins-Medium; */

.img-movie-name-cls{
    font-family:Poppins-SemiBold;
    padding-top: 5px;
    font-size: 16px;

}

.movie-timings-cls{
    font-family:Poppins-Bold;
    font-size: 12px;
    justify-content: space-around; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-location-cls{
    font-size: 11px;
    font-family:Poppins-Bold;  
    margin-bottom: 5px; 
}
.details-btn{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: 1px solid #A603A4;
    color: #FFFFFF;
    font-size: 10px;
    font-family:Poppins-Medium;
}

.wishlist-btn{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    font-size: 10px;
    font-family:Poppins-Medium;
    background-color: #A603A4;
    color: #FFFFFF;

}

.btn-All{
    justify-content: space-around;
    margin-top:5px;
    margin-bottom: 15px;
}

.input-drag-cls{

    /* background-color: transparent; */
}

.drag-input-cls{
    position: relative;
    border-radius: 20px !important;
    font-family:Poppins-Medium;

}

.drag-img-cls{
    position: absolute;
    width: 20px;
    height: 15px;
    right: 25px;
    top:12px;
}
.search-all-cls{
    display:flex;
    justify-content: space-between;
}
 /* image slider css bootstrap */

 .inputD-one-cls{
     position: relative !important;
     z-index: 1;
 }
.dropdown-oneInput-cls{
    position: absolute;
    bottom:0px;
    margin-bottom: 15px;
}

.dropdown-oneInput-cls{
    background-color: #FFFFFF !important;
    color: #A603A4;
    border: 2px solid #A603A4;
    border-radius: 20px;
    z-index: 9999;
    text-align: center;
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-left: 22px;   */
}
 /* end slider csss */


 .dropdown-items{
    border-bottom: 1px solid #A603A4 !important;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 12px;
    color: #34495e;
    background-color: transparent !important;
    text-align: center;
    font-family:Poppins-SemiBold;

 }

 input:focus, textarea:focus, select:focus{
    outline: none;
}

.dropdown-items:hover {
    color:#FFFFFF !important;
    background-color: #A603A4 !important;

}
.dropdown-items:active {
    color:#FFFFFF  !important;
    background-color: #A603A4 !important;

}
.dropdown-items:focus {
    color:#FFFFFF !important;
    background-color: #A603A4 !important;
}
.dropdown-items:focus:hover {
    color:#FFFFFF !important;
    background-color: #A603A4 !important;

}
