<div class="container">

  <div class="row">
    <div class="text-center  addcolor font-weight-bold mt-2 col-sm-12">
      <h4>On Sale</h4>
    </div>
  </div>
</div>



<!-- bootstrap multi column carosel  -->







<!-- end  carosel -->









<!-- image carosel checking  -->






<!-- end bootrstp img slideer -->


<!-- <swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/images/a.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="assets/images/b.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="assets/images/c.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="assets/images/d.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="assets/images/e.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="assets/images/f.jpeg" />
    </div>
  </div> -->
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div> -->
<!-- Add Arrows -->
<!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper> -->



<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('1')">
      <img style="position: relative" (mouseup)="toggleHelpMenu('1')" (click)="toggleHelpMenu('1')" class=" rounded"
        src="assets/images/salman.jpeg" />

      <!-- <div class="row">
            <div class="col-md-12">
              <div class="" style="background-color: #040128;width:260px;height: 180px;bottom: 0px;position: absolute;">

              </div>
            </div>
          </div> -->


      <div *ngIf="oneDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen ">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class=" ">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class="">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>


            <div class="row  mb-5 btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
    <div class="swiper-slide" (mouseover)= "toggleHelpMenu('2')">

      <img style="position: relative" class="img-fluid rounded" (mouseup)="toggleHelpMenu('2')"
        (click)="toggleHelpMenu('2')" src="assets/images/ranjini.jpeg" />

      <div *ngIf="twoDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class="">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class="">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>

            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>


    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('3')">
      <img style="position: relative" class="img-fluid rounded" (mouseup)="toggleHelpMenu('3')"
        (click)="toggleHelpMenu('3')" src="assets/images/balaya.jpeg" />

      <div *ngIf="threeDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class=" ">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class="">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>

            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('4')">
      <img style="position: relative" class="img-fluid rounded" (mouseup)="toggleHelpMenu('4')"
        (click)="toggleHelpMenu('4')" src="assets/images/bahubali.jpg" />

      <div *ngIf="fourDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class="">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class="">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>

            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('5')">
      <img style="position: relative" class="img-fluid  rounded" (mouseup)="toggleHelpMenu('5')"
        (click)="toggleHelpMenu('5')" src="assets/images/ak.jpeg" />


      <div *ngIf="fiveDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class="">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class="">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>

            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('6')">
      <img style="position: relative" class="img-fluid rounded" (mouseup)="toggleHelpMenu('6')"
        src="assets/images/avengers.jpeg" />

      <div *ngIf="sixDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>
            <div class="row movie-timings-cls">
              <div class="">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class=" ">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>
            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
    <div class="swiper-slide"  (mouseover)= "toggleHelpMenu('7')">
      <img style="position: relative" class="img-fluid  rounded" (mouseup)="toggleHelpMenu('7')"
        src="assets/images/m1.jpg" />

      <div *ngIf="sevenDetails == true">

        <div class="img-details-cls" [@slideInOut]="helpMenuOpen">
          <div class="container" style="color: #fff">
            <h5 class="img-movie-name-cls">movie Name Somthing</h5>
            <h6 class="img-movie-des-cls">Description of the movie or about the movie</h6>

            <div class="row movie-timings-cls">
              <div class="">
                <div>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span> 11 July 2019</span>
                </div>
              </div>
              <div class=" ">
                <div>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span> 08:00Pm </span> - <span> 11-30Pm</span>
                </div>
              </div>
            </div>

            <div class="img-location-cls">
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px; margin-right:4px;"></i>
              <span>Cine plus , Hyderabad , Telangana</span>
            </div>

            <div class="row  btn-All">
              <div class="">
                <button type="submit " (click)="onsaleDetails()" class="btn details-btn"> Details</button>
              </div>
              <div class=" ">
                <button type="submit" class="btn  wishlist-btn"> Add to WishList</button>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
    <!-- <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div> -->
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>


<!-- <div class="container mt-3"> -->

<!-- <div class="mt-5 " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0"
  fxLayoutGap="10px">
  <div class="item item-1" fxFlexOffset="20px" fxFlex="25%">
    <div class="select-style">
      <select>
        <option class="select-items" value="volvo">Search By Category</option>
        <option class="select-items" value="volvo">Volvo</option>
        <option class="select-items" value="saab">Saab</option>
        <option class="select-items" value="mercedes">Mercedes</option>
        <option class="select-items" value="audi">Audi</option>
      </select>
    </div>
  </div>
  <div class="item item-2" fxFlexOffset="20px" fxFlex="25%">

    <div class="select-style">
      <select>
        <option value="volvo">Search By Event Name</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>

  </div>
  <div class="item item-3" fxFlexOffset="20px" fxFlex="25%">
    <div class="select-style">
      <select>
        <option value="volvo">Search By Venue </option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </div>

  <div class="item item-3" fxFlexOffset="30px" style="line-height: 2" fxFlex="20%">
    <span class="badge badge-pill serach-btn-cls-one ">Search</span>
  </div>
</div> -->



<!-- <div class="mt-5 " fxLayout fxLayout.xs="column" fxLayoutAlign="" fxLayoutGap="10px" fxLayoutGap.xs="0"
  fxLayoutGap="10px"> -->


  <!-- search bar -->
  <!-- <div class="container  mt-5 mb-5">
    <div class="search-all-cls" fxLayout fxLayout.xs="column">
      <div class="input-group mb-3  inputD-one-cls" fxFlexOffset="20px" (click)="showOneDiv()">
        <input type="text" class="form-control drag-input-cls" [(ngModel)]="OneInVal" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <img src="assets/images/drag.png" class="drag-img-cls" alt="">
        </div>
      </div>
      <div (click)="showOneDiv()" class="col-md-2 dropdown-oneInput-cls" *ngIf="showOnedropDown" >
        <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="onetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="onetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="onetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="onetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="onetoggle($event.target.value)">
      </div>

      <div class="input-group mb-3  inputD-one-cls" fxFlexOffset="20px" (click)="showTwoDiv()">
        <input type="text" class="form-control drag-input-cls1" [(ngModel)]="TwoInVal" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <img src="assets/images/drag.png" class="drag-img-cls" alt="">
        </div>
      </div>

      <div (click)="showTwoDiv()" class="col-md-offset-2  col-md-2 dropdown-oneInput-cls" *ngIf="showTwodropDown" >
        <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="twotoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="twotoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="twotoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="twotoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="twotoggle($event.target.value)">
      </div>
      <div class="input-group mb-3  inputD-one-cls" fxFlexOffset="20px" (click)="showThreeDiv()">
        <input type="text" class="form-control drag-input-cls2" [(ngModel)]="ThreeInVal" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <img src="assets/images/drag.png" class="drag-img-cls" alt="">
        </div>
      </div>
      <div (click)="showThreeDiv()" class="col-md-offset-4  col-md-2 dropdown-oneInput-cls" *ngIf="showThreedropDown" >
        <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="threetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="threetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="threetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="threetoggle($event.target.value)">
        <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="threetoggle($event.target.value)">
      </div>
      <div class="item item-3" fxFlexOffset="20px"> <span class="badge badge-pill serach-btn-cls-one " style="line-height:2 ; margin-bottom:5px">Search</span>
      </div>
    </div>
  </div> -->

  <!-- end searh -->

    <!-- <div class="input-group mb-3" fxFlexOffset="20px">
        <input type="text" class="form-control drag-input-cls" placeholder="Recipient's username"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <img src="assets/images/drag.png" class="drag-img-cls" alt="">
        </div>
      </div> -->
      <!-- 
      <div class="input-group mb-3" fxFlexOffset="20px">
        <input type="text" class="form-control drag-input-cls" placeholder="Recipient's username"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <img src="assets/images/drag.png" class="drag-img-cls" alt="">
        </div>
      </div> -->
    




  <div class="container mt-5">
    <div class="row text-center">
          <div class="col-md-3">
       
            <div class="input-group mb-3  inputD-one-cls"  >
              <input type="text" class="form-control drag-input-cls" [(ngModel)]="OneInVal" placeholder="Search By Category" aria-label="Search By Category" aria-describedby="basic-addon2">
              <div class="input-group-append" (click)="showOneDiv()" >
                <img src="assets/images/drag.png"   class="drag-img-cls" alt="">
              </div>
            </div>

            
            <div (click)="showOneDiv()" class="dropdown-oneInput-cls" *ngIf="showOnedropDown" >
              <input type="text" class=" dropdown-items" value="Cine Plus- Hyd" readonly (click)="onetoggle($event.target.value)">
              <input type="text" class=" dropdown-items" value="Cibe plus -secbad" readonly (click)="onetoggle($event.target.value)">
              <input type="text" class=" dropdown-items" value="Cine Plus - Kondapur" readonly (click)="onetoggle($event.target.value)">
              <input type="text" class=" dropdown-items" value="Cine Plus - HitechCity" readonly (click)="onetoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="onetoggle($event.target.value)">
            </div>
     




       
       
          </div>
          <div class="col-md-3">
       
            <div class="input-group mb-3  inputD-one-cls"  >
              <input type="text" class="form-control drag-input-cls" [(ngModel)]="TwoInVal" placeholder="Search By Event Name" aria-label="Search By Event Name" aria-describedby="basic-addon2">
              <div class="input-group-append" (click)="showTwoDiv()">
                <img src="assets/images/drag.png" class="drag-img-cls" alt="">
              </div>
            </div>


            <div (click)="showTwoDiv()" class="dropdown-oneInput-cls" *ngIf="showTwodropDown" >
              <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="twotoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="twotoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="twotoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="twotoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="twotoggle($event.target.value)">
            </div>
        
      
       
          </div>
   
          <div class="col-md-3">
     

            <div class="input-group mb-3  inputD-one-cls"  >
              <input type="text" class="form-control drag-input-cls" [(ngModel)]="ThreeInVal" placeholder="Search By Venue" aria-label="Search By Venue" aria-describedby="basic-addon2">
              <div class="input-group-append"  (click)="showThreeDiv()">
                <img src="assets/images/drag.png" class="drag-img-cls" alt="">
              </div>
            </div>


            <div (click)="showThreeDiv()" class=" dropdown-oneInput-cls" *ngIf="showThreedropDown" >
              <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="threetoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="threetoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="threetoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="threetoggle($event.target.value)">
              <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="threetoggle($event.target.value)">
            </div>
         

        
          </div>
   

          <div class="col-md-2">
      
            <div class="item item-3" fxFlexOffset="20px"> <span class="badge badge-pill serach-btn-cls-one "  (click)="SearchPlace()" style="line-height:2 ; margin-bottom:5px; cursor: pointer;">Search</span>
 
      
          </div>
   
   
        </div>

    </div>


    <!-- <div class="row text-center">

      <div class="col-md-3">
 
        <div (click)="showOneDiv()" class="dropdown-oneInput-cls" *ngIf="showOnedropDown" >
          <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="onetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="onetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="onetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="onetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="onetoggle($event.target.value)">
        </div>
       
 
 
      </div>
      <div class="col-md-3">
     

        <div (click)="showTwoDiv()" class="dropdown-oneInput-cls" *ngIf="showTwodropDown" >
          <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="twotoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="twotoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="twotoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="twotoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="twotoggle($event.target.value)">
        </div>
    

      </div>

      <div class="col-md-3">
   
        <div (click)="showThreeDiv()" class=" dropdown-oneInput-cls" *ngIf="showThreedropDown" >
          <input type="text" class="dropdown-items" value="Cine Plus- Hyd" readonly (click)="threetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cibe plus -secbad" readonly (click)="threetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kondapur" readonly (click)="threetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - HitechCity" readonly (click)="threetoggle($event.target.value)">
          <input type="text" class="dropdown-items" value="Cine Plus - Kukatpally" readonly (click)="threetoggle($event.target.value)">
        </div>
     
      </div>


      <div class="col-md-2">
       
      </div>



    </div> -->


  </div>








<div class="mb-5"></div>