
<div class="container mb-5">
    <div class="text-center font-weight-bold textcolor">
        <p>Contact Us </p>
    </div>



    <div class="wrapper">
        <form class="form-signin">       
          <div class="form-group row ">
            <label for="inputPassword" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="password" class="form-control inctrls" id="" placeholder="Name">
            </div>
          </div>
        
       
          <div class="form-group row ">
            <label for="inputPassword" class="col-sm-4 col-form-label">Contact Number</label>
            <div class="col-sm-8">
              <input type="password" class="form-control inctrls" id="" placeholder="Surname">
            </div>
          </div>
       
          <div class="form-group row  ">
            <label for="inputPassword" class="col-sm-4 col-form-label">Email Address</label>
            <div class="col-sm-8">
              <input type="password" class="form-control inctrls" id="" placeholder="Email">
            </div>
          </div>   

          <div class="form-group row ">
              <label for="inputPassword" class="col-sm-4 col-form-label">Subject</label>
              <div class="col-sm-8">
                <input type="password" class="form-control inctrls" id="" placeholder="Subject">
              </div>
            </div>
     
            <div class="form-group row ">
            
                <!-- <div class="col-sm-8"> -->
                Message (not more than 500 words)
                <textarea name="" id="" cols="30" rows="5" style="width:440px;border-radius: 10px;"
                placeholder="Share Your feedback.."
                ></textarea>
                <!-- </div> -->
              </div>
        
              <!-- file upload -->

              <div class="form-group row ">
                <label for="inputPassword" class="col-sm-4 col-form-label">Atttachment</label>
                <div class="col-sm-8">
                    <button type="button"  class="upload-btn" mat-raised-button (click)="fileInput.click()">Choose a File
                        <i class="fa fa-upload" aria-hidden="true"></i>
                      </button>
                    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
         
                </div>
              </div>
        
        
              <div class="form-group row ">
                  <label for="inputPassword" class="col-sm-4 col-form-label"></label>
                  <div class="col-sm-8">
                      <p class="    font-family:Poppins-Light;"> Only  .docx ,  .doc, .pdf,.png,.jpg,.jpeg allowed for each attachment</p>
                  </div>
                </div>
  






              <!-- end file upload -->

              

                    <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
                 -->


            <div class="form-group row mb-5 mt-2">
              <label for="inputPassword" class="col-sm-4 col-form-label"></label>
              <div class="col-sm-12 ">
                <div class="">
                <div class="text-center"  >
                  <button class="btn  update-btn">
                    Submit
                  </button>
                </div>
              </div>
              </div>
            </div>  
      


            </form>



      </div>

      

</div>