
.movie-name-cls{
    font-family:Poppins-Bold;
}

.wishlist-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
    border: 1px solid #A603A4;
    color: #A603A4;
    background-color: #ffffff;
    font-size: 10px;
    font-family: Poppins-Medium;
}


.Reply-btn-cls{
    border: none;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 5px 25px 5px 25px;
    color: #A603A4;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Poppins-Medium;
}



.buynow-btn-cls{
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
    border: none;
    /* border: 1px solid #A603A4; */
    color: #ffffff;
    background-color:#03A605;
    font-size: 12px;
    font-family: Poppins-Medium;
}

.movie-desp-cls{
    font-size: 14px;
    font-family:Poppins-Regular;
}

.movie-ticket-table-cls{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap

}

.heading-cls{
    font-family: Poppins-Medium;

}

/* ticket table */

table {
    border-collapse: separate;
    border-spacing: 0;
    /* min-width: 350px; */
  }
  table tr th,
  table tr td {
    border-right: 1px solid #A603A4;
    border-bottom: 1px solid #A603A4;
    padding: 5px;
    color: black;
    font-family: Poppins-Medium;

  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid #A603A4;
  }
  table tr th {
    background: #A603A4;
    border-top: 1px solid #bbb;
    text-align: left;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

.pro-img-cls{
    display: flex;
    justify-content: center;
}

.comments-cls{
    display: flex;
    justify-content: center;
}
.comment-cls{
    color: #A603A4;
    font-family: Poppins-Medium;

}

.comment-main-cls{
  color: #A603A4;
  font-family: Poppins-Medium;
  display: flex;
  justify-content: flex-start;
}

textarea{
    font-family: Poppins-Regular;

}
/* end ticket */

.comment-name-cls{
    font-family:Poppins-Bold;

}
.comment-heading-cls{
    font-family:Poppins-SemiBold;

}

.comment-text-cls{
    font-family: Poppins-Medium;
    font-size: 13px;
}
