<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row mb-4">
        <div class="col-md-6 mb-2">
          <!-- <img class="rounded" src="assets/images/gta.png" alt="" style="width:100%;height:100%;"> -->
          <img class="rounded" src="assets/images/bahubali.jpg" alt="" style="width:100%;height:100%;">

        </div>
        <div class="col-md-6">
          <!-- <img class="rounded" src="assets/images/gtb.png" alt="" style="width:100%;height:100%"> -->
          <img class="rounded" src="assets/images/avengers.jpeg" alt="" style="width:100%;height:100%">
   
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <img class="rounded" src="assets/images/gtb.png" alt="" style="width:100%;height:100%">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <p class="movie-name-cls">
          Somthing Movie Name
        </p>
      </div>
      <div class="row" style="justify-content: space-between;font-size: 14px;margin-left: 3px;">
        <div class="">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <span>4.5/5</span>
        </div>
        <div class="">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span> 11 July 2019</span>
        </div>
        <div class="">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span> 08:00Pm </span> - <span> 11-30Pm</span>
        </div>
        <div class="">
          <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 15px; margin-right:4px;"></i>
          <span>Cine plus , Hyderabad , Telangana</span>
        </div>
      </div>

      <div class="col-md-12 mb-5" style="margin-bottom: 5rem !important">
        <div class="row" style="float: right;justify-content: space-between ">
          <!-- <div class="row"> -->

          <div class="mt-4" style="padding-right:30px; ">
            <button class="wishlist-btn-cls">
              Add To WishList
            </button>
          </div>
          <div class="mt-4" style="padding-left: 30px;">
            <button class="buynow-btn-cls"  (click)="SeatSelection()">
              Buy Now
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-5 movie-desp-cls">
        <p>
          Adrift in space with no food or water,
          Tony Stark sends a message to Pepper Potts
          as his oxygen supply starts to dwindle. Meanwhile,
          the remaining Avengers -- Thor, Black Widow, Captain
          America and Bruce Banner -- must figure out a way to bring
          back their vanquished allies for an epic showdown with Thanos --
          the evil demigod who decimated the planet and the universe
        </p>
        <p>
          Adrift in space with no food or water,
          Tony Stark sends a message to Pepper Potts
          as his oxygen supply starts to dwindle. Meanwhile,
          the remaining Avengers -- Thor, Black Widow, Captain
          America and Bruce Banner -- must figure out a way to bring
          back their vanquished allies for an epic showdown with Thanos --
          the evil demigod who decimated the planet and the universe

        </p>

      </div>
    </div>
  </div>
  <div class="row" style="margin: 10px;">
    <button class="wishlist-btn-cls">
      Back
    </button>
  </div>


  <div class="">
    <div class="movie-ticket-table-cls">
      <div class="text-center">
        <h3 class="heading-cls">
          Seating Plan
        </h3>
        <img src="/assets/images/seating.png" alt="" style="margin: 10px; max-width: 280px">
      </div>
      <div class="text-center">
        <h3 class="heading-cls">
          Ticket Prices
        </h3>
        <div class="mb-5">
          <table class="table table-hover">
            <thead class="text-center">
              <tr>
                <th class="text-center" style="color: #fff">Description</th>
                <th class="text-center" style="color: #fff">Price USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>VIP</td>
                <td>250</td>
              </tr>
              <tr>
                <td>VVIP</td>
                <td>300</td>
              </tr>
              <tr>
                <td>Gold</td>
                <td>200</td>
              </tr>
              <tr>
                <td>Sliver</td>
                <td>100</td>
              </tr>

              <tr>
                <td>Bronze</td>
                <td>50</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



  <!-- <div class="row">
    <div class="text-center heading-cls addcolor  mt-2 col-sm-12">
      <h4>Promotion Text Here</h4>
    </div>
  </div>

  <div class="row  mb-4 mt-4 pro-img-cls">
    <img class="img-fluid rounded" src="assets/images/promation.png" alt="" style="width: 400px;height:200px">
  </div> -->

  <!-- <div class="pro-img-cls">

    <button class="buynow-btn-cls"   (click)="SeatSelection()">
      Buy Now
    </button>
  </div> -->

  <div class="container text-center">
    <div class="comment-main-cls">
      <span>
      <!-- <img class="img-fluid " src="/assets/images/comment.png" alt=""> -->
      <img class="img-fluid " src="assets/images/comment.png" alt="">
    
      250 comments </span>
    </div>

    <div class="" style="display: flex; justify-content:center">

      <textarea name="" id="" cols="120" rows="5" placeholder="leave your comments Here ..."
      style="border-radius: 20px; border: 1px solid"></textarea>
    </div>

    <div class="mt-3 mb-4"  style="display: flex; justify-content:flex-end">
      <button class="buynow-btn-cls" style="float: right">
        Submit
      </button>
    </div>

  <!-- <button class="buynow-btn-cls" style="float: right">
    Submit
  </button> -->


  </div>


<!-- 
  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="comment-cls">
          <img class="img-fluid " src="/assets/images/comment.png" alt="">
          <span> 250 comments </span>
        </div>
        <textarea name="" id="" cols="50" rows="5" placeholder="leave your comments Here ..."
          style="border-radius: 20px; border: 1px solid"></textarea>

        <button class="buynow-btn-cls" style="float: right">
          Submit
        </button>
      </div>
      <div class="col">
      </div>
    </div>
  </div> -->

  <section class="comment-section mb-5">

    <div class="container text-center">
      <!-- <img class="img-fluid " src="/assets/images/round-images1.png" alt=""> -->
      <img class="img-fluid " src="assets/images/round-images1.png" alt="">
  
      <p class="comment-name-cls"> Maxwell</p>
      <h4 class="comment-heading-cls">It’s better than Avengers: Infinity War,</h4>
      <p class="comment-text-cls">
        Even at three-plus hours, the gargantuan Avengers:
        Endgame is light on its feet and more freely inventive than it
        needed to be. Given the year-long wait,
        its audience — Pavlovian dogs, myself
        (woof!) included — would have salivated over less.
        It’s better than Avengers: Infinity War, which was better than Avengers: Age of Ultron; and it is, for a change,
        conclusive. My 16-year-old daughter regretted having put on mascara prior to the screening because, by the end,
        it was all over her face. Even
        in Franchise-Tent-Pole-Universe land, some superheroism is finite.
      </p>
      <div class="col-md-12 mb-5" style="margin-bottom: 5rem !important">
        <div class="row" style="float: right;justify-content: space-between ">
          <div class="mt-4 comment-text-cls" style="padding-right:30px; ">
            <button class="Reply-btn-cls comment-text-cls">
              Reply
            </button>
          </div>
          <div class="mt-4" style="padding-left: 30px;">
            <span>
              <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="/assets/images/like.png" alt="">
              <span class="comment-text-cls">
                <span>20</span> Likes
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="container text-center">
        <!-- <img class="img-fluid " src="/assets/images/round-images2.png" alt=""> -->
        <img class="img-fluid " src="assets/images/round-images2.png" alt="">
  
        <p class="comment-name-cls"> Maxwell</p>
        <h4 class="comment-heading-cls">It’s better than Avengers: Infinity War,</h4>
        <p class="comment-text-cls">
          Even at three-plus hours, the gargantuan Avengers:
          Endgame is light on its feet and more freely inventive than it
          needed to be. Given the year-long wait,
          its audience — Pavlovian dogs, myself
          (woof!) included — would have salivated over less.
          It’s better than Avengers: Infinity War, which was better than Avengers: Age of Ultron; and it is, for a change,
          conclusive. My 16-year-old daughter regretted having put on mascara prior to the screening because, by the end,
          it was all over her face. Even
          in Franchise-Tent-Pole-Universe land, some superheroism is finite.
        </p>
        <div class="col-md-12 mb-5" style="margin-bottom: 5rem !important">
          <div class="row" style="float: right;justify-content: space-between ">
            <div class="mt-4 comment-text-cls" style="padding-right:30px; ">
              <button class="Reply-btn-cls comment-text-cls">
                Reply
              </button>
            </div>
            <div class="mt-4" style="padding-left: 30px;">
              <span>
                <!-- <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="/assets/images/like1.png" alt=""> -->
                <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="assets/images/like1.png" alt="">
           
                <span class="comment-text-cls">
                  <span>20</span> Likes
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
  
      

      <div class="container text-center">
          <!-- <img class="img-fluid " src="/assets/images/round-images3.png" alt=""> -->
          <img class="img-fluid " src="assets/images/round-images3.png" alt="">
      
          <p class="comment-name-cls"> Maxwell</p>
          <h4 class="comment-heading-cls">It’s better than Avengers: Infinity War,</h4>
          <p class="comment-text-cls">
            Even at three-plus hours, the gargantuan Avengers:
            Endgame is light on its feet and more freely inventive than it
            needed to be. Given the year-long wait,
            its audience — Pavlovian dogs, myself
            (woof!) included — would have salivated over less.
            It’s better than Avengers: Infinity War, which was better than Avengers: Age of Ultron; and it is, for a change,
            conclusive. My 16-year-old daughter regretted having put on mascara prior to the screening because, by the end,
            it was all over her face. Even
            in Franchise-Tent-Pole-Universe land, some superheroism is finite.
          </p>
          <div class="col-md-12 mb-5" style="margin-bottom: 5rem !important">
            <div class="row" style="float: right;justify-content: space-between ">
              <div class="mt-4 comment-text-cls" style="padding-right:30px; ">
                <button class="Reply-btn-cls comment-text-cls">
                  Reply
                </button>
              </div>
              <div class="mt-4" style="padding-left: 30px;">
                <span>
                  <!-- <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="/assets/images/like.png" alt=""> -->
                  <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="assets/images/like.png" alt="">
            
                  <span class="comment-text-cls">
                    <span>20</span> Likes
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
  
        

        <div class="container text-center">
            <!-- <img class="img-fluid " src="/assets/images/round-images1.png" alt=""> -->
            <img class="img-fluid " src="assets/images/round-images1.png" alt="">
       
            <p class="comment-name-cls"> Maxwell</p>
            <h4 class="comment-heading-cls">It’s better than Avengers: Infinity War,</h4>
            <p class="comment-text-cls">
              Even at three-plus hours, the gargantuan Avengers:
              Endgame is light on its feet and more freely inventive than it
              needed to be. Given the year-long wait,
              its audience — Pavlovian dogs, myself
              (woof!) included — would have salivated over less.
              It’s better than Avengers: Infinity War, which was better than Avengers: Age of Ultron; and it is, for a change,
              conclusive. My 16-year-old daughter regretted having put on mascara prior to the screening because, by the end,
              it was all over her face. Even
              in Franchise-Tent-Pole-Universe land, some superheroism is finite.
            </p>
            <div class="col-md-12 mb-5" style="margin-bottom: 5rem !important">
              <div class="row" style="float: right;justify-content: space-between ">
                <div class="mt-4 comment-text-cls" style="padding-right:30px; ">
                  <button class="Reply-btn-cls comment-text-cls">
                    Reply
                  </button>
                </div>
                <div class="mt-4" style="padding-left: 30px;">
                  <span>
                    <!-- <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="/assets/images/like.png" alt=""> -->
                    <img class="img-fluid " style="margin-bottom:10px;width:25px;" src="assets/images/like.png" alt="">
            
                    <span class="comment-text-cls">
                      <span>20</span> Likes
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        
  </section>





</div>


<div class="mb-5" style="margin-bottom: 10rem !important;"></div>