/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face{
    font-family:Poppins-Bold;
    /* src:url(/assets/fonts/Poppins-Bold.ttf); */
    src:url(./assets/fonts/Poppins-Bold.ttf);

}


@font-face{
    font-family:Poppins-Light;
    /* src:url(/assets/fonts/Poppins-Light.ttf); */
    src:url(./assets/fonts/Poppins-Light.ttf);

}


@font-face{
    font-family:Poppins-Medium;
    /* src:url(/assets/fonts/Poppins-Medium.ttf); */

    src:url(./assets/fonts/Poppins-Medium.ttf);

}


@font-face{
    font-family:Poppins-SemiBold;
    /* src:url(/assets/fonts/Poppins-SemiBold.ttf); */

    src:url(./assets/fonts/Poppins-SemiBold.ttf);

}

@font-face{
    font-family:Poppins-Regular;
    /* src:url(/assets/fonts/Poppins-Regular.ttf); */
   
    src:url(./assets/fonts/Poppins-Regular.ttf);
   
}


body{
    font-family:Poppins-Bold;
}