.btncls{
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4E0250;
    border: none;
}

.textcolor{
 color: #4E0250;
 
}

.container1
{
  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 450px;
  text-align: left;
  padding: 45px !important;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
}
.left-text, .right-text
{
  font: 14px 'Source Code Pro', monospace;
	color: #333;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

.fontfamily{

    font-family:Poppins-Bold;

}
.fontfamily-one{
    font-family:Poppins-Medium;
}

.fontfamily-two{

    font-family:Poppins-SemiBold;

}