

<div class="container mb-5 fontfamily"  style="position: relative">
  <div class="text-center font-weight-bold textcolor">
      <p>My Stubs</p>
  </div>



  <div class="container mt-5 fontfamily-one">
      <div class="row justify-content-center">
        <div class="col-4">
            <span>
                Hello, Goodtimes 
            </span>
            <span (click)="editProfile()">
              <img  src="assets/images/edit.png" style="width:20px" >
            </span>
          </div>
      </div>
    </div>


      <!-- <div class="text-center font-weight-bold ">
          <span>
              Hello, Goodtimes 
          </span>
          <img src="assets/images/edit.png" style="width:20px" >
       </div> -->

      
  <div class="container">
          <!-- <div class="row justify-content-center">
            <div class="col-sm-4">
                  <img src="../assets/images/a.jpeg" alt="  "  style="width:340px;height:200px"> 
              </div>
            <div class="col-sm-4 ">
                  <div class=" row">
                          <div class="col-sm-10">
                             <h4 class="font-weight-bold"> Hello, One</h4> 
                          </div>
                  </div>
                 
                  <div class="row">
                          <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">show Watched:</label>
                          <div class="col-sm-5">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="23">
                          </div>
                  </div>

                  <div class=" row">
                          <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">location:</label>
                          <div class="col-sm-5">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="hyderabad">
                          </div>
                  </div>

                  <div class=" row">
                          <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">Favouriate Events:</label>
                          <div class="col-sm-5">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Walk in park">
                          </div>
                  </div>

                  <div class=" row">
                          <label for="staticEmail" class="col-sm-7 col-form-label font-weight-bold">Goodtimes Points:</label>
                          <div class="col-sm-5">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="2380">
                          </div>
                  </div>
           </div>
          </div> -->
  </div>
        

        <!-- <div class="col-md-6">
        </div>
        <div class="col-md-6">
       
        </div> -->
  

  <div class="text-center font-weight-bold mt-5 fontfamily-two">
      <p>
          Upcoming Shows
      </p>
   </div>
  
   <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-4">
                  <img  class="img-fluid rounded"  src="assets/images/e.jpeg" alt="  "  style="width:340px;height:200px"> 
            </div>
            <div class="col-4">
                  <img  class="img-fluid rounded"  src="assets/images/f.jpeg" alt="  "  style="width:340px;height:200px"> 
            </div>
          </div>
        </div>
        

        <div class="text-center font-weight-bold mt-5 fontfamily-two">
              <p>
                  WishList
              </p>
           </div>
          
           <div class="container mt-5">
                  <div class="row justify-content-center">
                    <div class="col-4">
                          <img  class="img-fluid rounded" src="assets/images/c.jpeg" alt="  "  style="width:340px;height:200px"> 
                    </div>
                    <div class="col-4">
                          <img  class="img-fluid rounded" src="assets/images/d.jpeg" alt="  "  style="width:340px;height:200px"> 
                    </div>
                    <div class="col-4">
                          <img  class="img-fluid rounded" src="assets/images/e.jpeg" alt="  "  style="width:340px;height:200px"> 
                    </div>
             
                  </div>
                </div>

                <div class="text-center font-weight-bold mt-5 fontfamily-two">
                      <p>
                          Past Shows
                      </p>
                   </div>
                  
                   <div class="container mt-5">
                          <div class="row justify-content-center">
                            <div class="col-4">
                                  <img  class="img-fluid rounded" src="assets/images/b.jpeg" alt="  "  style="width:340px;height:200px"> 
                            </div>
                            <div class="col-4">
                                  <img   class="img-fluid rounded"  src="assets/images/b.jpeg" alt="  "  style="width:340px;height:200px"> 
                            </div>
                          </div>
                        </div>
               

</div>
<br>